.sidenav-container {
  height: 100%;
}
.nav-list {
  display: flex;
  // flex: 1 1 0;
}
.content-justify {
  display: flex;
  justify-content: flex-end;
}
.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
}
.sidenav {
  width: 200px;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
