.m-top{
    margin-top: 68px;
}

 table{
    overflow: scroll;
 }
 thead {
    background: #f3f3f3;

    th{
height: 56px;
text-align: left;
font-weight: 400;
padding: 8px 8px;
}
}
tr
{td
    {
        padding: 12px 8px;

}
}
.left-16{
    left:16%;
}
.conti{
    color:#fff;
    background-color: #7c0b83;
 }
