<div>
  <table class="table m-top">
    <ng-container *ngFor="let item of (sublineData | keyvalue); let fir = first; let itemN = index;">
      <thead *ngIf="fir">
        <tr>
          <th colspan="2"> Item name </th>
          <ng-container *ngFor="let quote of (item.value.quotes | keyvalue);  let index = index;">
            <th colspan="4" *ngIf="index <= 1">
              <span *ngIf="index == 0">First best price</span>
              <span *ngIf="index == 1">Second best price</span>
            </th>
          </ng-container>
        </tr>
      </thead>
    </ng-container>
    <tbody class="table-bordered">
      <ng-container *ngFor="let item of (sublineData | keyvalue); let first = first; let itemN = index;">
        <tr *ngIf="first">
          <th></th>
          <ng-container *ngFor="let quot of (item.value.quotes | keyvalue); let idx = index let f= first;">
            <th class="p-0" *ngIf="idx<=1" colspan="4">
              <table class="table m-0">
                <thead>
                  <tr>

                    <th colspan="2"> Name </th>
                    <th colspan="1"> Unit </th>
                    <th colspan="1"> Unit Price </th>
                  </tr>
                </thead>
              </table>
            </th>
          </ng-container>
          <th>more</th>
        </tr>
        <tr>
          <th>{{item.value.name}}</th>
          <ng-container *ngFor="let quote of (item.value.quotes | keyvalue); let i= index;let fq= first;">
            <td colspan="4" class="p-0 b-0" *ngIf="i<=1">
              <table class="m-0">
                <tbody>
                  <tr *ngIf="i<=1">
                    <td colspan="2">
                      <mat-radio-group name="{{itemN}}">
                        <mat-radio-button value="{{i}}" [checked]="quote.value.selected"
                          (change)="selectQuote(quote.value.subContractorId._id, quote)">
                          {{quote.value.subContractorId.name | ellipsis: 20}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </td>

                    <td colspan="1">{{quote.value.unit}}</td>
                    <td colspan="1">{{quote.value.unitPrice}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td *ngIf="i==3" (click)="moreQuotes()">...</td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
    <!-- <div class="d-flex fixed-bottom px-4 py-2 border-top left-16"> -->
      <div class="nav-bottom px-4 py-2 border-top d-flex justify-content-end">

      <button mat-raised-button type="button" color="primary" (click)="save()">Save</button>
    <button mat-raised-button type="button" class="conti" (click)="continueToMatch()">Continue</button>
  </div>
</div>
<ngx-spinner type="cog" size="medium" color="#b8a5e8">
    <p style="font-size: 20px; color: white; margin-top: 60px;"></p>
  </ngx-spinner>
