<div class="main-content">

    <mat-toolbar color="primary">

        <mat-toolbar-row>
            <div>
                <!-- <button mat-button (click)="addLineItem()" *ngIf="lineItems">Add Line Item</button> -->
                <button mat-button (click)="addSection()">Add Section</button>
                <button mat-button (click)="notify()">Invite Sub Contractors</button>
            </div>
            <!-- *ngIf="sections.length" -->
            <div *ngIf="sections.length">
                <mat-form-field>
                    <mat-select [formControl]="sectionMultiCtrl" placeholder="Select a section" [multiple]="true"
                        #multiSelect (selectionChange)="onSectionSelect()" toggle="true">
                        <ngx-mat-select-search [formControl]="multiFilterCtrl"
                            placeholderLabel="type here or just select">
                        </ngx-mat-select-search>
                        <mat-option *ngFor="let section of filteredSectionsMulti | async" [value]="section">
                            {{section.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>


    <app-tender-item [tenderData]="{'sec': sections, 'items': lineItems, 'widget': widgetRef}"></app-tender-item>

    <div *ngIf="!sections.length">
        <h1>To add sections first!</h1>
        <button mat-button (click)="addSection()">Add Section</button>
    </div>


</div>
<ngx-spinner type="square-loader" size="medium" color="#b8a5e8">
    <p style="font-size: 20px; color: white; margin-top: 60px;">Please give us a moment, we are downloading data </p>
</ngx-spinner>