<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="name"> Name</label>
            <input type="name" class="form-control" id="name" name="name" [(ngModel)]="organization.name" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="organizationName">Street Address</label>
            <input type="text" class="form-control" id="organizationName" placeholder="organizationName" name="organizationName" [(ngModel)]="organization.streetAddress" placeholder="Enter Street Address">
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="organization.city" placeholder="Enter  City">
        </div>
        <div class="form-group">
            <label for="province">Province</label>
            <input type="text" class="form-control" id="province" name="province" [(ngModel)]="organization.province" placeholder="Enter  Province">
        </div>
        <div class="form-group">
            <label for="country"> Country</label>
            <input type="text" class="form-control" id="country" name="country" [(ngModel)]="organization.country" placeholder="Enter  Country">
        </div>
        <div class="form-group">
            <label for="serviceType">   ServiceType</label>
            <input type="text" class="form-control" id="serviceType" name=" serviceType" [(ngModel)]="organization.serviceType" placeholder="Enter  ServiceType">
        </div>
        <div class="form-group">
            <label for="serviceArea">   ServiceArea</label>
            <input type="text" class="form-control" id="serviceArea" name=" serviceArea" [(ngModel)]="organization.serviceArea" placeholder="Enter   ServiceArea">
        </div>
        <!-- <div class="form-group"> -->

        <!-- <input type="email" class="form-control" id="description" name="organizationDescription" [(ngModel)]="organization.organizationDescription" placeholder="Enter  Type"> -->

        <!-- </div> -->
        <!-- <div class="form-group">
            <label>Open Date</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="openDate" [(ngModel)]="organization.openDate" ngbDatepicker #d1="ngbDatepicker" [placement]="placement" (focus)="d1.toggle()">

            </div>
        </div>

        <div class="form-group">
            <label>Closed date</label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="closeDate" [(ngModel)]="organization.closeDate" ngbDatepicker #d2="ngbDatepicker" [placement]="placement" (focus)="d2.toggle()">

        </div>

        <div class="form-group">
            <label>Quote Start Date</label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="quoteStartDate" [(ngModel)]="organization.quoteStartDate" ngbDatepicker #d3="ngbDatepicker" [placement]="placement" (focus)="d3.toggle()">
        </div>

        <div class="form-group">
            <label>Quote End Date</label>

            <input class="form-control" placeholder="yyyy-mm-dd" name="quoteEndDate" [(ngModel)]="organization.quoteEndDate" ngbDatepicker #d4="ngbDatepicker" [placement]="placement" (focus)="d4.toggle()">
        </div> -->
        <button mat-raised-button type="button" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
        <button mat-raised-button type="button" (click)="save(organization)" class="btn btn-danger pull-right">Save</button>
    </form>
</div>
