<button mat-raised-button (click)="addLabour(false)"> Add Labour </button>

<table mat-table [dataSource]="labour" class="mat-elevation-z8">


  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="Rate">
    <th mat-header-cell *matHeaderCellDef>Rate</th>
    <td mat-cell *matCellDef="let element"> {{element.hourlyRate}} </td>
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element"> {{element.description}}</td>
  </ng-container>
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element, let i=index">
        <i  (click)="updateLabour(true, element)" [matTooltipPosition]="'above'"  
        class="material-icons"  [ngStyle]="{'color':'blue'}"  matTooltip="edit">edit</i>
      <!-- <button mat-raised-button type="button" matTooltip="Edit Task" (click)="updateLabour(true, element)"
        [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
        <i class="material-icons">edit</i>
      </button> -->
      <!-- <button mat-raised-button type="button" matTooltip="Remove" (click)="removeLabour(element, i)"
        [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
        <i class="material-icons">close</i>
      </button> -->
      <i (click)="removeLabour(element, i)" [matTooltipPosition]="'above'"  
      class="material-icons"  [ngStyle]="{'color':'red'}"  matTooltip="Remove" >close</i>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>