<!-- <div class="modal-body">
    <form role="form">


        <div class="form-group">
            <label for="clientName"> Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder=" Name">
        </div>

        <div class="form-group">
            <label for="tenderName">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
        </div>

        <div class="form-group">
            <label for="description">    Password</label>
            <input type="email" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="description">      Mobile</label>
            <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile">
        </div>


        <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>

    </form>
</div> -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form role="form" [formGroup]="userForm" novalidate (ngSubmit)="save(userForm)">
                    <div class="form-group">
                        <label for="clientName"> Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder=" Name">
                        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || userForm.controls['name'].dirty) && tenderForm.controls['name'].invalid">
                            <li *ngFor="let error of userForm.controls['name'].getValidationMessages()">
                                {{error}}
                            </li>
                        </ul>
                    </div>



                    <div class="form-group">
                        <label for="tenderName">Email</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Tender name">
                        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted ||  userForm.controls['email'].dirty) &&  userForm.controls['email'].invalid">
                            <li *ngFor="let error of  userForm.controls['email'].getValidationMessages()">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">

                        <label for="password">Password</label>
                        <input matInput formControlName="password" placeholder="Password*" type="password">

                        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || userForm.controls['password'].touched) && userForm.controls['password'].invalid">
                            <li *ngFor="let error of userForm.controls['password'].getValidationMessages()">
                                {{error}}
                            </li>
                        </ul>

                    </div>
                    <div class="form-group">

                        <label for="password">Mobile</label>
                        <input matInput formControlName="mobile" placeholder="mobile*" type="number">

                        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || userForm.controls['mobile'].touched) && userForm.controls['mobile'].invalid">
                            <li *ngFor="let error of userForm.controls['mobile'].getValidationMessages()">
                                {{error}}
                            </li>
                        </ul>

                    </div>

                    <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>