<div class="modal-body">
  <form #userForm="ngForm" *ngIf="!submitted" novalidate role="form">
      <div class="form-group">
          <label for="name"> Name</label>
          <span class="text-danger">*</span>
          <input type="text" #name="ngModel" required class="form-control" [class.is-invalid]="name.invalid && name.touched" 
          id="name" name="name" [(ngModel)]="labour.name" placeholder="Enter Name">
          <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>

      <div class="form-group">
        <label for="rate">Rate</label>
        <span class="text-danger">*</span>
        <input type="text" required #rate="ngModel" [class.is-invalid]="rate.invalid && rate.touched" class="form-control" 
        id="rate" name="rate" [(ngModel)]="labour.rate" placeholder="Enter Rate">
        <small class="text-danger" [class.d-none]="rate.valid || rate.untouched">Rate is required</small>
    </div>

    <div class="form-group">
        <label for="labourDesc">Description</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" required [class.is-invalid]="labourDesc.invalid && labourDesc.touched" 
        #labourDesc="ngModel" id="description" placeholder="Labour Description" name="description" 
        [(ngModel)]="labour.description">
        <small class="text-danger" [class.d-none]="labourDesc.valid || labourDesc.untouched">Labour Description is required</small>
    </div>

    <div class="form-group">
        <label for="type">type</label>
        <span class="text-danger">*</span>
        <input type="text" class="form-control" required [class.is-invalid]="type.invalid && type.touched" #type="ngModel" 
        id="type" placeholder="Type" name="type" [(ngModel)]="labour.type">
        <small class="text-danger" [class.d-none]="type.valid || type.untouched">Type is required</small>
    </div>

      <button mat-raised-button type="button" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
      <button mat-raised-button type="button" [disabled]="userForm.form.invalid" (click)="save(labour)" 
      class="btn btn-danger pull-right">Save</button>
  </form>
</div>
