<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"> CREW</h4>

                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" novalidate (ngSubmit)="submit(CrewFormGroup)" role="form">
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="crewname" placeholder="Crew name" name="crewname" [(ngModel)]="crew.name"
                                               type="text">
                                    </mat-form-field>
                                      <ul class="text-danger list-unstyled"
                                          *ngIf="(formSubmitted || form.controls['crewname'].dirty) && form.controls['crewname'].invalid">
                                        <li *ngFor="let error of form.controls['crewname'].getValidationMessages()">
                                          {{error}}
                                        </li>
                                      </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Description</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput formControlName="crewdescription" placeholder="Enter Description" name="crewdescription"
                                                  [(ngModel)]="crew.description"></textarea>
                                    </mat-form-field>
                                    <ul class="text-danger list-unstyled"
                                          *ngIf="(formSubmitted || form.controls['crewdescription'].dirty) && form.controls['crewdescription'].invalid">
                                        <li *ngFor="let error of form.controls['crewdescription'].getValidationMessages()">
                                          {{error}}
                                        </li>
                                    </ul>
                                    <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                                </div>
                            </div>
                            <div class="hr">
                                <span>Equipment</span>
                            </div>
                            <div class="row w-100">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="tab-pane active">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr *ngFor="let equipment of equipments">
                                                            <td>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" formControlName="equipment" name="equipment" type="checkbox"
                                                                               value="" (click)="clickEquipment($event,equipment)"
                                                                               [checked]="isEquipmentChecked(equipment)" required>
                                                                        <span class="form-check-sign">
                                                                            <span class="check"></span>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <ul class="text-danger list-unstyled"
                                                                    *ngIf="(formSubmitted || form.controls['equipment'].dirty) && form.controls['equipment'].invalid">
                                                                    <li *ngFor="let error of form.controls['equipment'].getValidationMessages()">
                                                                    {{error}}
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>{{equipment.name}}</td>
                                                            <td>
                                                                ${{equipment.price}}
                                                            </td>
                                                        </tr>


                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="hr">
                                <span>Labour</span>
                            </div>
                            <div class="row w-100">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="tab-pane active">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr *ngFor="let labour of labours">
                                                            <td>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="checkbox"
                                                                               (click)="clickLabour($event,labour)"
                                                                               value=""
                                                                               [checked]="isLabourChecked(labour)" required>
                                                                        <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>{{labour.name}}</td>
                                                            <td>
                                                                ${{labour.price}}
                                                            </td>
                                                        </tr>


                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="formSubmitted && form.invalid" class="btn btn-danger pull-right" (click)="save(crew)">
                                Save
                            </button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right"
                                    (click)="cancel()">Cancel
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
