<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#profile" data-toggle="tab">
                      Name : {{tender.name}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                    Start Date  : {{tender.openDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      End Date :  {{tender.closeDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                     Quote Start Date :  {{tender.quoteEndDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      Quote End Date :  {{tender.quoteStartDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab" (click)="add()">
                      <i class="material-icons">add</i>

                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class=" text-primary">

                <th>
                  Item No
                </th>
                <th>
                  Spec No
                </th>
                <th>
                  Item Name
                </th>

                <th>
                  Description
                </th>
                <th>
                Unit
                </th>
                <th>
                  Quantity
                </th>
                <th>
                  Unit Price
                </th>
                <th>
                  Actions
                </th>

                </thead>
                <tbody>
                <ng-container *ngFor="let item of tender.items; let index=index;">

                  <tr>
                      <td class="width-2"> <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="item.itemNo"></textarea></td>
                      <td class="width-10"><textarea type="text" class="form-control" appAutoAdjust name="specNo" [(ngModel)]="item.specNo"></textarea></td>
                      <td class="width-20"><textarea type="text" class="form-control" appAutoAdjust name="specNo"  [(ngModel)]="item.itemName"></textarea></td>
                      <td class="width-36"><textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="item.description"></textarea></td>
                      <td class="width-2"><textarea type="text" class="form-control" appAutoAdjust name="unit" [(ngModel)]="item.unit"></textarea></td>
                      <td class="width-5"><textarea type="text" class="form-control" appAutoAdjust name="quantity"   [(ngModel)]="item.quantity"></textarea></td>
                      <td class="width-5"><textarea type="text" class="form-control" appAutoAdjust name="unitPrice"  [(ngModel)]="item.unitPrice"></textarea></td>
                      <td class="td-actions width-10">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" (click)="delete(index)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                        <button mat-raised-button type="button"  *ngIf="!accordion[index]" matTooltip="expand"  (click)="toggleCollapse(index)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">expand_more</i>
                        </button>
                        <button mat-raised-button type="button" *ngIf="accordion[index]" matTooltip="less"  (click)="toggleCollapse(index)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">expand_less</i>
                        </button>
                      </td>
                    </tr>
                  <tr [ngbCollapse]="!accordion[index]">
                    <td colspan="8">
                      <div class="hr">
                        <span class="">CREW</span>
                      </div>
                      <div class="row w-100">
                        <div class="col-4">
                          <table class="table table-striped">

                            <thead>
                            <th>Name</th>
                            <th>Price/Hour</th>
                            <th>Hour</th>
                            <th>Actions</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let equipment of item.equipments">
                              <td>
                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.name"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.price"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.hour"></textarea>
                              </td>
                              <td class="td-actions width-10">
                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" (click)="delete(index)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">close</i>
                                </button>
                            </tr>
                            </tbody>

                          </table>
                        </div>
                        <div class="col-4">
                          <table class="table table-striped">

                            <thead>
                            <th>Name</th>
                            <th>Price/Hour</th>
                            <th>Hour</th>
                            <th>Actions</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let equipment of item.equipments">
                              <td>
                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.name"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.price"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.hour"></textarea>
                              </td>
                              <td class="td-actions width-10">
                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" (click)="delete(index)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">close</i>
                                </button>
                            </tr>
                            </tbody>

                          </table>
                        </div>
                        <div class="col-4">
                          <table class="table table-striped">

                            <thead>
                            <th>Name</th>
                            <th>Price/Hour</th>
                            <th>Hour</th>
                            <th>Actions</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let equipment of item.equipments">
                              <td>
                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.name"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.price"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="equipment.hour"></textarea>
                              </td>
                              <td class="td-actions width-10">
                                <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" (click)="delete(index)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">close</i>
                                </button>
                            </tr>
                            </tbody>

                          </table>
                        </div>
                      </div>
                      <div class="hr">
                        <span class="">SUBLINE ITEMS</span>
                      </div>
                      <div class="row w-100">
                        <div class="col-8 offset-2">
                          <table class="table table-bordered">
                            <thead>
                            <th>Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Actions
                              <a mat-button class="nav-link" href="#settings" data-toggle="tab" (click)="addSubitem(item)">
                              <i class="material-icons">add</i>

                            </a> </th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let subitem of item.subitems">
                              <td>
                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="subitem.name"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="subitem.unitPrice"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="subitem.quantity"></textarea>
                              </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="subitem.totalPrice"></textarea>
                              </td>
                              <td class="td-actions width-10">

                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" (click)="deleteSubitem(item,index)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                  <i class="material-icons">close</i>
                                </button>
                            </tr>
                            </tbody>

                          </table>
                        </div>
                      </div>
                      <div class="hr">
                        <span class="">TRENCH CALCULATION</span>
                      </div>
                      <div class="row w-100">
                        <div class="col-8 offset-2">
                          <table class="table table-bordered">
                            <tbody>
                            <tr>
                              <td>
                                Length
                              </td>
                              <td>
                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="item.trench.length"></textarea>
                              </td>
                              <td rowspan="3">
                                <div class="title">Cube Volume</div>
                               <div class="volume"> {{item.trench.cubeVolume}} </div>
                              </td>
                              </tr>
                            <tr>
                               <td>
                                 HEIGHT
                               </td>
                              <td>

                                <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="item.trench.height"></textarea>
                              </td>
                            </tr>
                          <tr>
                            <td>
                              WIDTH

                            </td>
                            <td>

                              <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="item.trench.width"></textarea>
                            </td>
                          </tr>

 <tr>
   <td>Diameter</td>
   <td>
     <textarea type="text" class="form-control" appAutoAdjust name="itemNo"  [(ngModel)]="item.trench.diameter"></textarea>
   </td>
   <td>
     <div class="title">Pipe Volume</div>
    <div class="volume">{{item.trench.pipeVolume}}</div>
   </td>
 </tr>


                            </tbody>

                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </ng-container>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
