.form-control{
  background-image:none;
}
.width-2{
  width:2%;
}
.width-5{
  width:5%;
}
.width-10{
  width:10%;
}

.width-20{
  width:20%;
}
.width-30{
  width:30%;
}
.width-25{
  width:25%;
}
.width-15{
  width:15%;
}
.divider {
  position: relative;
}
.divider:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #f1d479;
  background: radial-gradient(#f1d479 40%, rgba(241, 212, 121, 0) 80%);
}



::ng-deep .accordion .card{
  margin-top:0 !important;
  margin-bottom:0 !important;
  border: 1px solid rgba(0,0,0,.125);
  border-radius:0;
}

::ng-deep  .accordion .card-header{
  background-color: #fff !important;
}

.collapse-body{
  padding: 0px 0px;

}

.hr {
  border: 0;
  float: left;
  height: 1px;
  position: relative;
  width: 100%;
  margin:15px 0;
  background-color: transparent !important;
  background-color: rgba(51, 51, 51, 0.4);
  background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 20%, 0)), color-stop(50%, hsla(0, 0%, 20%, 0.5)), to(hsla(0, 0%, 20%, 0)));
  background-image: -webkit-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
  background-image: -moz-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
  background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#00333333', GradientType=1);
}
.hr::before {
  border: 0;
  content: "";
  height: 1px;
  position: absolute;
  top: 1px;
  right: 0;
  left: 0;
  text-align: center;
  background-color: transparent !important;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 100%, 0)), color-stop(50%, hsl(0, 0%, 100%)), to(hsla(0, 0%, 100%, 0)));
  background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
  background-image: -moz-linear-gradient(left, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
  background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}
.hr::after {
  border: 0;
  content: "";
  height: 1px;
  position: absolute;
  top: 2px;
  right: 5%;
  left: 5%;
  background-color: transparent !important;
  background-color: rgba(51, 51, 51, 0.24);
  background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 20%, 0)), color-stop(50%, hsla(0, 0%, 20%, 0.3)), to(hsla(0, 0%, 20%, 0)));
  background-image: -webkit-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
  background-image: -moz-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
  background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#00333333', GradientType=1);
}

.hr span{
  position:absolute;
  top:-10px;
  display:inline-block;
  left:0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: #e53935;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
}
.volume{
  font-family: 'Roboto Slab', serif;
  font-size:2.5rem;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: #e53935;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
}
.title{
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: #e53935 !important;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
  padding:10px 0;
}
::ng-deep .card .card-header .title{
  color: #e53935 !important;
}

.table-condensed.table > thead > tr > th, .table-condensed.table > tbody > tr > th, .table-condensed.table > tfoot > tr > th, .table-condensed.table> thead > tr > td, .table-condensed.table > tbody > tr > td, .table-condensed.table > tfoot > tr > td {
  padding: 0px 8px;
  vertical-align: middle;
}
.typeahead{
    display:inline-block;
    width: 300px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

::ng-deep  .accordion .dropdown-menu{
  width:300px !important;
  position: absolute !important;
  top: 38px !important;
  left: 111px !important;
  transform: translate(0px, 0px) !important;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

::ng-deep .dropdown-item{
  width:290px !important;
}
