<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#profile" data-toggle="tab">
                      Name : {{tender.name}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                    Start Date  : {{tender.openDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      End Date :  {{tender.closeDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                     Quote Start Date :  {{tender.quoteEndDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      Quote End Date :  {{tender.quoteStartDate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class=" text-primary">

                <th>
                  Item No
                </th>
                <th>
                  Spec No
                </th>
                <th>
                  Item Name
                </th>
                <th>
                  Description
                </th>
                <th>
                Unit
                </th>
                <th>
                  Quantity
                </th>
                <th>
                  Unit Price
                </th>
                <th>
                  Total Price
                </th>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of tender.items">
                  <ng-container *ngFor="let subitem of item.subitems;let index=index">
                    <tr>
                      <td *ngIf="index==0"><app-edit-input [data]="item.itemNo"></app-edit-input></td>
                      <td *ngIf="index==0"><app-edit-input [data]="item.specNo"></app-edit-input></td>
                      <td *ngIf="index==0"><app-edit-input [data]="item.itemName"></app-edit-input></td>
                      <td *ngIf="index!==0"></td>
                      <td *ngIf="index!==0"></td>
                      <td *ngIf="index!==0"></td>
                      <td><app-edit-input [data]="subitem.description"></app-edit-input></td>
                      <td><app-edit-input [data]="subitem.unit"></app-edit-input></td>
                      <td><app-edit-input [data]="subitem.quantity"></app-edit-input></td>
                      <td><app-edit-input [data]="subitem.unitPrice"></app-edit-input></td>
                      <td><app-edit-input [data]="subitem.totalPrice"></app-edit-input></td>
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
