<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
        <div class="chatbot-panel">
            <button class="chatbox-open">
                <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
            </button>
            <button class="chatbox-close">
                <i class="fa fa-close fa-2x" aria-hidden="true"></i>
            </button>
            <section class="chatbox-popup">
                <header class="chatbox-popup__header">
                    <aside style="flex:3">
                        <i class="fa fa-user-circle fa-4x chatbox-popup__avatar" aria-hidden="true"></i>
                    </aside>
                    <aside style="flex:8">
                        <h1>Sussanah Austin</h1> Agent (Online)
                    </aside>
                    <aside style="flex:1">
                        <button class="chatbox-maximize"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
                    </aside>
                </header>
                <main class="chatbox-popup__main">
                    We make it simple and seamless for<br> bussiness and people to talk to each<br> other. Ask us anything.
                </main>
                <footer class="chatbox-popup__footer">
                    <aside style="flex:1;color:#888;text-align:center;">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </aside>
                    <aside style="flex:10">
                        <textarea type="text" placeholder="Type your message here..." autofocus></textarea>
                    </aside>
                    <aside style="flex:1;color:#888;text-align:center;">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </aside>
                </footer>
            </section>
            <section class="chatbox-panel">
                <header class="chatbox-panel__header">
                    <aside style="flex:3">
                        <i class="fa fa-user-circle fa-3x chatbox-popup__avatar" aria-hidden="true"></i>
                    </aside>
                    <aside style="flex:6">
                        <h1>Sussanah Austin</h1> Agent (Online)
                    </aside>
                    <aside style="flex:3;text-align:right;">
                        <button class="chatbox-minimize"><i class="fa fa-window-restore" aria-hidden="true"></i></button>
                        <button class="chatbox-panel-close"><i class="fa fa-close" aria-hidden="true"></i></button>
                    </aside>
                </header>
                <main class="chatbox-panel__main" style="flex:1">
                    We make it simple and seamless for<br> bussiness and people to talk to each<br> other. Ask us anything.
                </main>
                <footer class="chatbox-panel__footer">
                    <aside style="flex:1;color:#888;text-align:center;">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </aside>
                    <aside style="flex:10">
                        <textarea type="text" placeholder="Type your message here..." autofocus></textarea>
                    </aside>
                    <aside style="flex:1;color:#888;text-align:center;">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </aside>
                </footer>
            </section>
        </div>

    </div>

</div>


<!-- Buy-Modal-angular -->
<div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="margin-top">
                Free Version
            </h4>
            <div class="separator"></div>
            <a href="https://www.creative-tim.com/product/material-dashboard" class="modal-button" target="_blank">
                <div class="wrapper-card">
                    <div class="image-container">
                        <img src="./assets/img/html.png" alt="unloaded">
                    </div>
                    Html5
                    <div class="separator"></div>
                    <div class="product-type">
                        FREE
                    </div>
                </div>
            </a>
            <a href="https://www.creative-tim.com/product/material-dashboard-angular2" class="modal-button" target="_blank">
                <div class="wrapper-card">
                    <div class="image-container image-angular-cli">
                        <img src="./assets/img/angular.png" alt="unloaded">
                    </div>
                    Angular
                    <div class="separator"></div>
                    <div class="product-type">
                        FREE
                    </div>
                </div>
            </a>
            <h4>
                PRO Version
            </h4>
            <div class="separator"></div>
            <a href="https://www.creative-tim.com/product/material-dashboard-pro" class="modal-button" target="_blank">
                <div class="image-container">
                    <img src="./assets/img/html.png" alt="unloaded">
                </div>
                Html5
                <div class="separator"></div>
                <div class="price">
                    from
                    <span>
                        49
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                </div>
            </a>
            <a href="https://www.creative-tim.com/product/material-dashboard-pro-angular2" class="modal-button" target="_blank">
                <div class="image-container image-angular-cli">
                    <img src="./assets/img/angular.png" alt="unloaded">
                </div>
                Angular
                <div class="separator"></div>
                <div class="price">
                    from
                    <span>
                        59
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>

</div>

