::ng-deep .textLayer > span {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  cursor:move;
}

.tab-cell-styl th, td{
  width:auto !important;
   white-space: normal !important;
  overflow: visible !important;

}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  margin: 0px 15px;
  border-radius: 3px;
  color: #3C4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 0px 15px;
}

.navi,
.infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 0;
}
.infoi {
  z-index: 10;
}

textarea{
  width:100%;
  border: none;
  background:transparent;
  text-align: center;
  height:100% !important;
}
.btn-group{
  margin:0;
  width:100%;
}

.editable-text{
  position:absolute;
  width:100%;
  height:100%;
  text-align: center;
  top:0;
  left:0;
}

.background-white{
  background:white;
}
.list-inline{
  position:absolute;
  top:50%;
  right:1%;
  transform: translateY(-50%);
}
.icon{
  font-size:1.2rem;
  color:#f44336;

}
.label{
  margin:1px ;
  font-size:10px;
}

















// Commented by pravin
// ::ng-deep .textLayer > span {
//   position: absolute;
//   z-index: 9;
//   background-color: #f1f1f1;
//   border: 1px solid #d3d3d3;
//   text-align: center;
//   cursor:move;
// }

// .sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
//   margin: 0px 15px;
//   border-radius: 3px;
//   color: #3C4858;
//   padding-left: 10px;
//   padding-right: 10px;
//   text-transform: capitalize;
//   font-size: 13px;
//   padding: 0px 15px;
// }

// .navi,
// .infoi {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 100px;
//   left: 0;
// }
// .infoi {
//   z-index: 10;
// }

// textarea{
//   width:100%;
//   border: none;
//   background:transparent;
//   text-align: center;
//   height:100% !important;
// }
// .btn-group{
//   margin:0;
//   width:100%;
// }

// .editable-text{
//   position:absolute;
//   width:100%;
//   height:100%;
//   text-align: center;
//   top:0;
//   left:0;
// }

// .background-white{
//   background:white;
// }
// .list-inline{
//   position:absolute;
//   top:50%;
//   right:1%;
//   transform: translateY(-50%);
// }
// .icon{
//   font-size:1.2rem;
//   color:#f44336;

// }
// .label{
//   margin:1px ;
//   font-size:10px;
// }
