<form [formGroup]="equipmentsForm">
  <div *ngIf="data.val == false">
    <h1 mat-dialog-title align="center">Add Equipment</h1>
  </div>
  <div *ngIf="data.val == true">
    <h1 mat-dialog-title align="center">Update Equipment</h1>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-label>Name</mat-label><span class="text-danger">*</span>
      <mat-form-field class="example-full-width">
        <input formControlName="name" matInput type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-label>Description</mat-label><span class="text-danger">*</span>
      <mat-form-field class="example-full-width">
        <input formControlName="description" matInput type="text" />
      </mat-form-field>
    </div>
  </div>
  <div fxLayoutAlign="flex-end" fxLayout.xs="column" fxLayout="row">
    <mat-dialog-actions>
      <div *ngIf="data.val == false">
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="save()"
          [disabled]="!equipmentsForm.valid"
        >
          Save
        </button>
      </div>
      <div *ngIf="data.val == true">
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="update()"
          [disabled]="!equipmentsForm.valid"
        >
          Update
        </button>
      </div>
      <button mat-raised-button type="button" color="warn" (click)="close()">
        Cancel
      </button>
    </mat-dialog-actions>
  </div>
</form>
