.main-content {
  height: 100%;
  position: relative;
  margin-top: 100px;
}
.pad0 {
  padding-left: 0px;
  height: 100vh;
}


.log {
  width: 68px;
}

.mod {
  width: 503px;
}

.overlay {
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0;
  width: 100%;
  color: #ffffff;
}

.padr0 {
  padding-right: 0px;
}

.ulti {
  margin-top: 24px;
}

.p-b {
  font-size: 24px;
  margin: 40px 0px;
  text-transform: capitalize;
}

.p-s {
  font-size: 18px;
  text-transform: capitalize;
}

.mg-t {
  margin-top: 31px;
}

.inp {
  height: 40px;
  padding: 0px 18px;
  margin: 0 0 15px 0px;
  border: 2px solid #ccc;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  padding: 0;
  top: 0;
}
.mod {
  z-index: -1 !important;
}

.text {
  color: #ffffff;
  text-align: center;
}

.rem {
  margin-left: 3px;
}

.floatr {
  float: right;
}

.form1 {
  text-align: left;
  padding: 41px 80px;
  margin: 60px 0;
  background-color: #ffffff;
}

label {
  color: #777;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 15px;
  font-weight: 500;
}

.md-form label {
  font-size: 16px !important;
}

.mo-title {
  color: #000;
}

.inpu {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.marg {
  margin-left: 6px;
}

.mod {
  width: 503px;
}

.md-form {
  margin-top: 3.5rem;
}

.margin160 {
  margin-left: 0px;
}

.ft-tab {
  padding: 0px 15px;
}
.box {
  padding: 10px 220px 0;
  padding: 10px 0px 0;
}
.tab-content > .active,
form {
  display: block;
}
.mat-dialog-content {
}
form {
  margin-top: 40px;
}
.pl0 {
  padding-left: 0;
}
.plr0 {
  padding-left: 0;
  padding-right: 0px;
}

.pad-l-r{
    padding: 0px 30px !important;
}

element.style {
  /* margin-top: 20px; */
}

.mat-tab-body.mat-tab-body-active {
  margin-top: 20px;
}