<div class="main-content">
  <div class=" sb-toolbar">
    <a (click)="addOrg(false)"><i class="material-icons" matTooltip="Add Organization">add</i></a>
  </div>
  <div class="table-responsive border-top">
    <table class="mat_tab" mat-table [dataSource]="organizations" class="mat-elevation-z8    tab-cell-styl">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element;"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element;"> {{element.contactEmail}} </td>
      </ng-container>
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element;"> {{element.contactPhone}}</td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element;"> {{element.orgType}} </td>
      </ng-container>
      <ng-container matColumnDef="Street Address">
        <th mat-header-cell *matHeaderCellDef>Street Address</th>
        <td mat-cell *matCellDef="let element;"> {{element.streetAddress}} </td>
      </ng-container>
      <ng-container matColumnDef="Service Type">
        <th mat-header-cell *matHeaderCellDef>Service Type</th>
        <td mat-cell *matCellDef="let element;"> {{element.serviceType}}</td>
      </ng-container>
      <ng-container matColumnDef="ServiceArea">
        <td mat-cell *matCellDef="let element;"> {{element.serviceArea | ellipsis:15}} </td>
        <th mat-header-cell *matHeaderCellDef> ServiceArea</th>
      </ng-container>
      <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef>province</th>
        <td mat-cell *matCellDef="let element;"> {{element.province | placeNameFinder:'state'}} </td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element;"> {{element.country | placeNameFinder:'country'}} </td>
      </ng-container>
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element;"> {{element.city  | placeNameFinder:'city'}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element; let i=index;">
          <i (click)="updateOrg(true, element, i)" [matTooltipPosition]="'above'" class="material-icons"
            [ngStyle]="{'color':'blue'}" matTooltip="edit">edit</i>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ngx-spinner type="cog" size="medium" color="#b8a5e8">
    <p style="font-size: 20px; color: white; margin-top: 60px;">Loading data ..</p>
  </ngx-spinner>
</div>