<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 offset-12">
                <div class="modal-body">
                    <form [formGroup]="userForm">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Email</mat-label><span class="text-danger">*</span>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="email" matInput type="text">
                                </mat-form-field>
                                <div *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty || userForm.controls.email.touched)"
                                        class="error">
                                    <div class="text-danger" *ngIf="userForm.controls.email.errors.invalidMsg">
                                        {{userForm.controls.email.errors.invalidMsg}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>First Name</mat-label><span class="text-danger">*</span>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="fname" matInput type="text">
                                </mat-form-field>
                                <div *ngIf="!userForm.controls.fname.valid && (userForm.controls.fname.dirty || userForm.controls.fname.touched)"
                                    class="error">
                                    <small class="text-danger" *ngIf="userForm.controls.fname.errors.invalidMsg">
                                        {{userForm.controls.fname.errors.invalidMsg}}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Last Name</mat-label><span class="text-danger">*</span>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="lname" matInput type="text">
                                </mat-form-field>
                                <div *ngIf="!userForm.controls.lname.valid && (userForm.controls.lname.dirty || userForm.controls.lname.touched)"
                                    class="error">
                                    <small class="text-danger" *ngIf="userForm.controls.lname.errors.invalidMsg">
                                        {{userForm.controls.lname.errors.invalidMsg}}
                                    </small>
                                </div>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Password</mat-label><span class="text-danger">*</span>
                                <mat-form-field class="example-full-width">
                                    <input formControlName="password" matInput type="password">
                                </mat-form-field>
                                <div *ngIf="!userForm.controls.password.valid && (userForm.controls.password.touched)"
                                    class="error">
                                <small class="text-danger" *ngIf="userForm.controls.password.errors.invalidMsg">
                                                {{userForm.controls.password.errors.invalidMsg}}
                                            </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Mobile</mat-label><span class="text-danger">*</span>
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="mobile" matInput type="text">
                                    </mat-form-field>
                                    <div *ngIf="!userForm.controls.mobile.valid && (userForm.controls.mobile.dirty || userForm.controls.mobile.touched)"
                                        class="error">
                                        <small class="text-danger" *ngIf="userForm.controls.mobile.errors.invalidMsg">
                                            {{userForm.controls.mobile.errors.invalidMsg}}
                                        </small>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                                        <div class="col-md-12">
                                            <mat-label>Organization</mat-label><span class="text-danger">*</span>
                                            <mat-form-field class="example-full-width">
                                                <input [readonly]="true" formControlName="organization" matInput type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="button" (click)="close()"
                                        class="btn btn-danger pull-right">Cancel</button>
                                    <button mat-raised-button type="button" (click)="save()"
                                        class="btn btn-danger pull-right" [disabled]="!userForm.valid">Save</button>
                                </form>
                                <br><br><br>
                                <div class="pull-right">
                                    <span class="text-danger">*</span><small>Required Fields</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

