<!-- <div class="modal-body">
     <div class="main-content">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h6>Add User</h6>
                </div>
                <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Name</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="name" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <mat-label>Email</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="email" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <mat-label>Password</mat-label><span class="text-danger">*</span>
                        <mat-form-field class="example-full-width">
                                <input formControlName="password" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Phone Number</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="phoneNumber" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>
                </form><br><br><br>
                <div class="pull-right">
                    <span class="text-danger">*</span>Required Fields
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="main-content">
    <div class="modal-body">
        <div class="card">
            <div class="card-header card-header-danger">
                <small style="color: white;">Add User</small>
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Name</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="name" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Email</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="email" matInput type="text">
                            </mat-form-field>
                            <div *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="error">
                                <div class="text-danger" *ngIf="userForm.controls.email.errors.invalidMsg">
                                    {{userForm.controls.email.errors.invalidMsg}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Password</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="password" matInput type="password">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Phone Number</mat-label><span class="text-danger">*</span>
                            <mat-form-field class="example-full-width">
                                <input formControlName="phoneNumber" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="button" (click)="close()"
                        class="btn btn-danger pull-right">Cancel</button>
                    <button mat-raised-button type="button" (click)="save()"
                        class="btn btn-danger pull-right">Save</button>
                </form>
                <br><br><br>
                <div class="pull-right">
                    <span class="text-danger">*</span><small>Required Fields</small>
                </div>
            </div>
        </div>
    </div>
</div>
