
    <form [formGroup]="userForm">
        <h1 mat-dialog-title align="center">Add User</h1>
        <div mat-dialog-content>
        <div>
            <mat-label>Email</mat-label><span class="text-danger">*</span>
            <mat-form-field class="example-full-width">
                <input formControlName="email" matInput type="text">
            </mat-form-field>
            <div *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty || userForm.controls.email.touched)"
                class="error">
                <small class="text-danger" *ngIf="userForm.controls.email.errors.invalidMsg">
                    {{userForm.controls.email.errors.invalidMsg}}
                </small>
            </div>
        </div>
            <div>
                <mat-label>First Name</mat-label><span class="text-danger">*</span>
                <mat-form-field class="example-full-width">
                    <input formControlName="fname" matInput type="text">
                </mat-form-field>
                <div *ngIf="!userForm.controls.fname.valid && (userForm.controls.fname.dirty || userForm.controls.fname.touched)"
                    class="error">
                    <small class="text-danger" *ngIf="userForm.controls.fname.errors.invalidMsg">
                        {{userForm.controls.fname.errors.invalidMsg}}
                    </small>
                </div>
            </div>
            <div>
                <mat-label>Last Name</mat-label><span class="text-danger">*</span>
                <mat-form-field class="example-full-width">
                    <input formControlName="lname" matInput type="text">
                </mat-form-field>
                <div *ngIf="!userForm.controls.lname.valid && (userForm.controls.lname.dirty || userForm.controls.lname.touched)"
                    class="error">
                    <small class="text-danger" *ngIf="userForm.controls.lname.errors.invalidMsg">
                        {{userForm.controls.lname.errors.invalidMsg}}
                    </small>
                </div>
            </div>
            <div>
                <mat-label>Password</mat-label><span class="text-danger">*</span>
                <mat-form-field class="example-full-width">
                    <input formControlName="password" matInput type="text">
                </mat-form-field>
                <div *ngIf="!userForm.controls.password.valid && (userForm.controls.password.dirty || userForm.controls.password.touched)"
                    class="error">
                    <small class="text-danger" *ngIf="userForm.controls.password.errors.invalidMsg">
                        {{userForm.controls.password.errors.invalidMsg}}
                    </small>
                </div>
            </div>
            <div>
                <mat-label>Mobile</mat-label><span class="text-danger">*</span>
                <mat-form-field class="example-full-width">
                    <input formControlName="mobile" matInput type="text">
                </mat-form-field>
                <div *ngIf="!userForm.controls.mobile.valid && (userForm.controls.mobile.dirty || userForm.controls.mobile.touched)"
                    class="error">
                    <small class="text-danger" *ngIf="userForm.controls.mobile.errors.invalidMsg">
                        {{userForm.controls.mobile.errors.invalidMsg}}
                    </small>
                </div>
            </div>
            <div>
                <mat-label>Organization</mat-label><span class="text-danger">*</span>
                <mat-form-field class="example-full-width">
                    <input formControlName="organization" matInput type="text">
                </mat-form-field>
                <div *ngIf="!userForm.controls.organization.valid && (userForm.controls.organization.dirty || userForm.controls.organization.touched)"
                    class="error">
                    <small class="text-danger" *ngIf="userForm.controls.organization.errors.invalidMsg">
                        {{userForm.controls.organization.errors.invalidMsg}}
                    </small>
                </div>
            </div>
        </div>   
        <mat-dialog-actions class=" pull-right">
            <div *ngIf="data.val == false">
                <button mat-raised-button  [disabled]="!userForm.valid" (click)="save()"
                    color="primary">Save</button>
            </div>
            <div *ngIf="data.val == true">
                <button mat-raised-button  [disabled]="!userForm.valid" (click)="update()"
                    color="primary">Update</button>
            </div>
            <button mat-raised-button  (click)="close()" color="primary">Cancel</button>
        </mat-dialog-actions>
    </form>

                <!-- <mat-dialog-actions class="pull-right">
                    <button mat-raised-button type="button" (click)="save()" class="btn btn-danger pull-right"
                        [disabled]="!userForm.valid">Save</button>
                        <div *ngIf="data.val == false">
                            <button mat-raised-button type="button" [disabled]="!userForm.valid" (click)="save()"
                                class="btn btn-danger">Save</button>
                        </div>
                        <div *ngIf="data.val == true">
                            <button mat-raised-button type="button" [disabled]="!userForm.valid" (click)="update()"
                                class="btn btn-danger">Update</button>
                        </div>
                    <button mat-raised-button mat-dialog-close class="btn btn-danger pull-right">Cancel</button>
                </mat-dialog-actions> -->
