<div class="main-content">
    <div class="container-fluid">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div>
                    <button mat-raised-button (click)="AddUpdateTender(false)">
                        <mat-icon>add</mat-icon>
                        Add Tender
                    </button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">                        
                        <div class="card-body" *ngIf="tenders">
                            <div class="table-responsive">
                                <table id="mainTable" class="table table-hover">
                                    <thead class="">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Client Name
                                        </th>
                                        <th>
                                            Tender Name
                                        </th>

                                        <th>
                                            Open Date
                                        </th>
                                        <th>
                                            Close Date
                                        </th>
                                        <th>
                                            Quote Start Date
                                        </th>
                                        <th>
                                            Quote End Date
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tender of tenders;let index=index;">
                                            <td>
                                                {{index + 1}}
                                            </td>
                                            <td>
                                                {{tender.clientName}}
                                            </td>
                                            <td>
                                                {{tender.name}}

                                            </td>

                                            <td>
                                                {{tender.openDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{tender.closeDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{tender.quoteStartDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{tender.quoteEndDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td class="td-actions width-15">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    (click)="AddUpdateTender(true, tender, index)" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    (click)="deleteTender(tender,index)" [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Edit Tender Quotes"
                                                    (click)="viewTender(tender)" [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">exit_to_app</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Upload Tender"
                                                    (click)="viewer(tender)" [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">
                                                        cloud_upload
                                                    </i>
                                                </button>
                                                <button mat-raised-button type="button"
                                                    matTooltip="Final Pricing of Tender" (click)="quotes(tender)"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">announcement</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                           

                        </div>

                    </div>
                </div>
                <div class="card card-plain" *ngIf="tenders?.length < 1">
                    <div class="card-header" style="text-align: center; margin-bottom: 60px;">
                        <h2>Loading your list of tenders ..</h2>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner type="line-spin-fade-rotating" size="medium" color="#b8a5e8">
        <p style="font-size: 20px; color: white; margin-top: 60px;">Loading data ..</p>
    </ngx-spinner>
</div>

