
<div class="main-content">
  <div class=" sb-toolbar">
    <a (click)="AddUpdateTender(false)"><i class="material-icons" matTooltip=" Add Tender">add</i></a>
  </div>

  <div class="table-responsive border-top">
    <table class="mat_tab" mat-table [dataSource]="tenders" class="mat-elevation-z8 tab-cell-styl">
      <ng-container matColumnDef="Client Name">
        <th mat-header-cell *matHeaderCellDef>Client Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.clientName.name }}
        </td>
      </ng-container>
        <th mat-header-cell *matHeaderCellDef>Tender Name</th>
      <ng-container matColumnDef="Tender Name"> 
        <td mat-cell *matCellDef="let element; let i index">
          <span
            matTooltip="Fast quote"
            (click)="fastQuote(element)"
            [matTooltipPosition]="'above'"
          >
            <i class="material-icons">
                flip_to_front
                </i>
          </span>
          <span
            matTooltip="Edit Task"
            (click)="AddUpdateTender(true, element)"
            [matTooltipPosition]="'above'"
          >
            <i class="material-icons">edit</i>
          </span>
          <span
            matTooltip="delete"
            (click)="deleteTender(element, i)"
            [matTooltipPosition]="'above'"
          >
            <i class="material-icons">delete</i>
          </span>
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Open Date">
        <th mat-header-cell *matHeaderCellDef>Open Date</th>

        <td mat-cell *matCellDef="let element">
          {{ element.openDate | date: 'mediumDate' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Close Date">
        <th mat-header-cell *matHeaderCellDef>Close Date</th>

        <td mat-cell *matCellDef="let element">
          {{ element.closeDate | date: 'medium' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Quote Start Date">
        <th mat-header-cell *matHeaderCellDef>Quote Start Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quoteStartDate | date: 'mediumDate' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Quote End Date">
        <th mat-header-cell *matHeaderCellDef>Quote End Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quoteEndDate | date: 'medium' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Mode of Submission">
        <th mat-header-cell *matHeaderCellDef>Mode of Submission</th>
        <td mat-cell *matCellDef="let element">{{ element.submissionMode }}</td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let tender; let i = index">
          <!-- class="btn btn-danger btn-link btn-sm btn-just-icon"  -->
          <span
            (click)="notifySubC(tender)"
            matTooltip="Notify sub contractor"
          >
            <i class="material-icons">
              perm_phone_msg
            </i>
          </span>
          <span
            matTooltip="Review Tender Details"
            (click)="reviewTender(tender)"
            [matTooltipPosition]="'above'"
          >
            <i class="material-icons">view_list</i>
        </span>
          <span
            matTooltip="Edit Tender Quotes"
            (click)="viewTender(tender)"
            [matTooltipPosition]="'above'"
          >
            <i class="material-icons">collections_bookmark</i>
          </span>
          <span
            matTooltip="Upload Tender"
            (click)="viewer(tender)"
            [matTooltipPosition]="'above'"
          >
            <i class="material-icons">
              cloud_upload
            </i>
          </span>
          <span
            class="btn btn-danger btn-link btn-sm btn-just-icon"
            [matMenuTriggerFor]="menu"
            mat-icon-button
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
        </span>
          <mat-menu #menu="matMenu">
            <span
              matTooltip="Final Pricing of Tender"
              (click)="quotes(tender)"
              [matTooltipPosition]="'above'"
            >
              <i class="material-icons">announcement</i>
            </span>
            <span
              matTooltip="Compare"
              id="alish"
              [matTooltipPosition]="'above'"
              (click)="compare(tender._id)"
            >
              <i class="fa fa-window-restore"></i>
          </span>
          <span
              matTooltip="Quote"
              [matTooltipPosition]="'above'"
            >
              <i class="material-icons">format_align_justify</i>
            </span>
          <span
              matTooltip="Prepare"
              [matTooltipPosition]="'above'"
            >
              <i class="fa fa-edit"></i>
            </span>

          </mat-menu></td
      ></ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ngx-spinner type="cog" size="medium">
    <p>
      Loading data ..
    </p>
  </ngx-spinner>
</div>
