<div class="main-content top-70">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/tender">Tender</a></li>
    <li class="breadcrumb-item">Tender Review</li>
    <li class="breadcrumb-item">{{ tenderData.name }}</li>
  </ol>

  <!-- <mat-toolbar color="primary"> -->
  <!-- <mat-toolbar-row> -->
  <div class=" sb-toolbar">
    <!-- <button mat-raised-button (click)="__addSection()">Add Another Section</button> -->
    <button
      mat-raised-button
      type="button"
      matTooltip="Add Another Section"
      (click)="__addSection()"
      [matTooltipPosition]="'above'"
      class="btn btn-danger btn-link btn-sm btn-just-icon"
    >
      <i class="material-icons">
        note_add
      </i>
    </button>
    <!-- <button mat-raised-button (click)="notifySubC()">Invite Sub Contractors</button> -->

    <button
      mat-raised-button
      type="button"
      matTooltip="Invite Sub Contractors"
      (click)="notifySubC()"
      [matTooltipPosition]="'above'"
      class="btn btn-danger btn-link btn-sm btn-just-icon"
    >
      <i class="material-icons">
        record_voice_over
      </i>
    </button>
    <!-- <button mat-raised-button (click)="gotoQuotePage()">Go to Quote</button> -->
    <button
      mat-raised-button
      type="button"
      matTooltip="Go to Quote"
      (click)="gotoQuotePage()"
      [matTooltipPosition]="'above'"
      class="btn btn-danger btn-link btn-sm btn-just-icon"
    >
      <i class="material-icons">
        flip_to_back
      </i>
    </button>

    <!-- <button mat-raised-button (click)="back()">Close</button> -->
    <button
      mat-raised-button
      type="button"
      matTooltip="Close"
      (click)="back()"
      [matTooltipPosition]="'above'"
      class="btn btn-danger btn-link btn-sm btn-just-icon"
    >
      <i class="material-icons">
        close
      </i>
    </button>
  </div>

  <div class="table-responsive">
    <ng-container>
      <div *ngIf="masterForm">
        <form [formGroup]="masterForm">
          <div formArrayName="sections">
            <ng-container
              *ngFor="let section of masterForm.get('sections').controls; let secindx = index"
              [formGroupName]="secindx"
            >
              <!-- <mat-toolbar> -->
              <!-- <span> -->
              <textarea type="text" class="t-area" formControlName="name" placeholder="section name goes here"></textarea>
              <!-- </span> -->
              <!-- <span class="toolbar-spacer"></span> -->
              <button mat-icon-button color="warn" (click)="deleteSection(section)" matTooltip="delete section">
                <!-- <mat-icon>remove</mat-icon> -->
                <i class="material-icons">
                  delete
                </i>
              </button>
              <!-- </mat-toolbar> -->
              <div formArrayName="lineItems" class="table-responsive">
                <table class="table table-bordered">
                  <thead class=" text-primary">
                    <th style="width: 10%">
                      Item No
                    </th>
                    <th style="width: 10%">
                      Spec No
                    </th>
                    <th style="width: 20%">
                      Item Name
                    </th>

                    <th style="width: 30%">
                      Description
                    </th>
                    <th>
                      Unit
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th>
                      Unit Price($)
                    </th>
                    <th>
                      Total Price($)
                    </th>
                    <th>
                      Actions
                    </th>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let lineItem of section.get('lineItems').controls; let lindx = index; let last = last"
                      [formGroupName]="lindx"
                    >
                      <tr>
                        <td class="width-2">
                          <textarea type="text" class="form-control" formControlName="itemNo"></textarea>
                        </td>
                        <td class="width-2">
                          <textarea type="text" class="form-control" formControlName="specNo"></textarea>
                        </td>
                        <td class="width-2">
                          <textarea type="text" class="form-control" formControlName="itemName"></textarea>
                        </td>
                        <td class="width-2">
                          <textarea type="text" class="form-control" formControlName="description"></textarea>
                        </td>
                        <td class="width-2">
                          <textarea type="text" class="form-control" formControlName="unit"></textarea>
                        </td>
                        <td class="width-2">
                          <textarea
                            type="text"
                            class="form-control"
                            formControlName="quantity"
                            (keyup)="calculateLineItemUnitPrice(lineItem)"
                          ></textarea>
                        </td>
                        <td class="width-2">
                          <textarea type="text" class="form-control" formControlName="unitPrice" [readonly]="true"></textarea>
                        </td>
                        <td class="width-2">
                          <textarea
                            type="text"
                            class="form-control"
                            formControlName="lineTotalPrice"
                            [readonly]="true"
                          ></textarea>
                        </td>
                        <td class="td-actions width-15">
                          <!-- <button mat-raised-button type="button" matTooltip="view" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">remove_red_eye</i>
                                                        </button> -->
                          <button
                            mat-raised-button
                            type="button"
                            (click)="saveLineItem(section, lindx)"
                            matTooltip="save line item"
                            [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon"
                          >
                            <i class="material-icons">save</i>
                          </button>
                          <button
                            mat-raised-button
                            type="button"
                            (click)="__removeLineItem(section, lineItem, lindx)"
                            matTooltip="remove"
                            [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                          >
                            <!-- <i class="material-icons">minimize</i> -->
                            <i class="material-icons">
                              delete
                            </i>
                          </button>
                          <button
                            mat-raised-button
                            type="button"
                            matTooltip="less"
                            [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                          >
                            <i class="material-icons">expand_less</i>
                          </button>
                          <button
                            mat-raised-button
                            type="button"
                            matTooltip="add line item"
                            [matTooltipPosition]="'above'"
                            (click)="__addLineItem(section)"
                            *ngIf="last"
                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                          >
                            <i class="material-icons">add_box</i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-container>

            <ng-container> </ng-container>

            <ngx-spinner type="cog" size="medium" color="#b8a5e8">
              <p style="font-size: 20px; color: white; margin-top: 60px;">loading tender..</p>
            </ngx-spinner>
          </div>
        </form>
      </div></ng-container
    >
  </div>
</div>
