.mat-card {
  margin-top: 10px;
}
.t-area {
  width: 500px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.section-rem-icon {
  padding: 0 14px;
}
.fast-q {
  .table > tbody > tr > td {
    padding: 4px 8px 0 8px;
    textarea {
      line-height: 0.5 !important;
    }
  }
}

.m-top {
  margin-top: 68px;
}
thead {
  background-color: #fff0cc;
  background-color: #f3f3f3;
}

tr:nth-child(even) {
  background-color: #fcfbfd;
}
.conti {
  background-color: #e2efff;
  color: #6b8ac8;
  color: #fff;
  background-color: #7c0b83;
}
.save {
  background-color: #ffd67d;
}
.cancel {
  background-color: #d67077;
}
td a i {
  color: #e1dfe1;
  margin-left: 10px;
}
.table > tbody > tr > td {
  padding: 2px 0px;
}
.table > thead > tr > th {
  font-size: 16px;
  padding: 8px 4px;
}
table {
  height: calc(100% - 600px);
  //  position: fixed;
  overflow: auto;
}
