<div class="container fast-q">
    <div class=" table-responsive m-top ">
        <form [formGroup]="sublineForm">
            <div class="col-3">
                <app-invited-subcontractors [notifiedSubs]="tenderID" (subSelected)="subConSelection($event)"></app-invited-subcontractors>
            </div>
            <table class="table table-bordered" *ngIf="sublineForm.get('subline').controls.length">
                <thead>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit</th>
                    <th>unitPrice</th>
                </thead>
                <tbody formArrayName="subline">
                    <tr *ngFor="let lineItem of sublineForm.get('subline').controls; let i = index;  let last = last"
                        [formGroupName]="i">
                        <td class="width-2">
                            <a><i class="material-icons">edit</i></a>
                            <a><i class="material-icons">remove_red_eye</i></a>
                            <a><i class="material-icons" (click)="removeLineItem(lineItem, i)" >delete_sweep</i></a>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="name"></textarea>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="description"></textarea>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="unit"></textarea>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="unitPrice"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button  mat-raised-button  type="button" color="primary" (click)="addLineItem()">Add more</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="position-bottom">
            <button mat-raised-button  type="button" color="primary"  type="submit" (click)="createSubline(true)" [disabled]="!sublineForm.valid">save</button>
            <button  mat-raised-button  type="button" class="conti" type="submit" (click)="createSubline(false)" [disabled]="!sublineForm.valid">Save and continue</button>
            <button  mat-raised-button  color="warn" type="button"  type="submit" (click)="cancel()">Cancel</button>
        </div>
        </form>
    </div>
</div>
