.mat-card{
    margin-top: 10px;
}
.t-area{
    width: 500px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.section-rem-icon {
    padding: 0 14px;
}
.fast-q {
    .table > tbody > tr > td{
        padding: 4px 8px 0 8px;
        textarea{
            line-height: 0.5 !important;
        }
    } 
}