<div class="container fast-q">
    <div class="mt-5 table-responsive ">
        <form [formGroup]="sublineForm">
            <table class="table table-bordered  m-top">
                <thead>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit</th>
                    <th>unitPrice</th>
                </thead>
                <tbody formArrayName="subline">
                    <tr *ngFor="let lineItem of sublineForm.get('subline').controls; let i = index;  let last = last"
                        [formGroupName]="i">
                        <td class="width-2">
                            <a><i class="material-icons">edit</i></a>
                            <a><i class="material-icons">remove_red_eye</i></a>
                            <a><i class="material-icons" (click)="removeLineItem(lineItem, i)" >delete_sweep</i></a>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="name"></textarea>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="description"></textarea>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="unit"></textarea>
                        </td>
                        <td class="width-2">
                            <textarea type="text" class="form-control" formControlName="unitPrice"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button (click)="addLineItem()">Add more</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="save" type="submit" (click)="createSubline(true)" [disabled]="!sublineForm.valid">save</button>
            <button  class="conti" type="submit" (click)="createSubline(false)">Save and continue</button>
            <button  class="cancel" type="submit" (click)="cancel()">Cancel</button>

        </form>
    </div>
</div>