<mat-tab-group class="tender mt-5">
    <mat-tab label="First">
        <div class="col-12" *ngIf="tender&&tender.sections&&tender.sections.length">
         <div class="bg-white mt-4" *ngFor="let section of tender.sections">
            <h3 class="px-3 pt-2 mb-0">{{section.name}}</h3>
            <ng-container *ngIf='section&& section.lineItems&&section.lineItems.length'>
                <div class="bg-light m-3" *ngFor="let item of section.lineItems;let i=index">
                    <mat-chip-list class="m-1">
                        <span class="mb-3 mr-2 badge badge-warning">{{item.name}}</span>
                        <span class="mb-3 mr-2 badge badge-primary"> Spec No :
                            <span>{{item.specNo}}</span></span>
                        <span class="mb-3 mr-2 badge badge-secondary"> Item No :<span>
                                {{item.itemNo}}</span></span>
                        <span class="mb-3 mr-2 badge badge-info"> Quantity :<span>
                                {{item.quantity}}</span></span>
                    </mat-chip-list>
                    <mat-radio-group  style="width: max-content;" name="{{item.specNo+''+i}}">
                        <div class="row-h-scroll" *ngIf="item.lineTotalPrice&&item.lineTotalPrice.length">
                            <div class="col-2-5 mb-3" *ngFor="let quote of item.lineTotalPrice">
                                <mat-card class="example-card mt-0">
                                    <span class="card-title mb-1" *ngIf="quote.quoteSub">{{quote.quoteSub|subContractorname:notifiedSub}}</span>
                                <mat-card-content>
                                    <p class="mb-1" *ngIf="quote.quoteSub">Name: {{quote.quoteSub|subContractorname:notifiedSub}}</p>
                                    <p class="mb-1">Unit Price: {{quote.unitPrice}}</p>
                                    <p class="mb-1">Total Price: {{quote.totalPrice}}</p>
                                    <!-- <mat-radio-button></mat-radio-button> -->
                                    <mat-radio-button  value="{{quote.quoteSub|subContractorname:notifiedSub}}"  #e (change)="getSelectedLineItem(e.checked,section._id,item._id,quote.quoteSub,quote.totalPrice,section.sectionTotalPrice)"  [checked]= "item.selectedSub==quote.quoteSub"></mat-radio-button>
                                </mat-card-content> 
                                </mat-card>
                            </div>
                         </div>
                </mat-radio-group>
                </div>
             </ng-container>
            <h4 class="mt-2 px-3">Section Total:{{getSectionTotal(section._id,section.sectionTotalPrice)}}</h4>
        </div >
        <button mat-raised-button type="button" (click)="save()" class="m-2" color="primary">save</button>
    </div>  
    </mat-tab>
    <mat-tab label="second">
        <div class="col-12"  *ngIf="tender&&tender.sections&&tender.sections.length">
            <mat-card class="mt-4" *ngFor="let section of tender.sections">
                <mat-card-header>
                    <mat-card-title>{{section.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf='section&& section.lineItems&&section.lineItems.length'>
                    <ng-container *ngFor="let item of section.lineItems">
                        <div class="bg-light p-1 mb-3">
                            <mat-chip-list>
                                <span class="mb-3 mr-2 badge badge-warning">{{item.name}}</span>
                                <span class="mb-3 mr-2 badge badge-primary"> Spec No
                                    :<span>{{item.specNo}}</span></span>
                                <span class="mb-3 mr-2 badge badge-secondary"> Item No
                                    :<span>{{item.itemNo}}</span></span>
                                <span class="mb-3 mr-2 badge badge-info"> Quantity
                                    :<span>{{item.quantity}}</span></span>
                            </mat-chip-list>
                            <div class="table-responsive">
                                <table class="table table-responsive table-striped">
                                    <tr>
                                        <th>Contractor name</th>
                                        <td colspan="3" *ngFor="let quote of item.lineItemTotal">{{quote.quoteSub}}</td>
                                    </tr>
                                    <tr>
                                        <th>Unit Price</th>
                                        <td colspan="3" *ngFor="let quote of item.lineItemTotal">{{quote.unitPrice}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Price</th>
                                        <td colspan="3" *ngFor="let quote of item.lineItemTotal">
                                            {{quote.totalPrice}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-container>
                    <h4 class="mt-2 px-1">Section Total: 500</h4>
                </mat-card-content>
            </mat-card>
            <button mat-raised-button type="button" (click)="save()" class="m-2" color="primary">save</button>
        </div>
    </mat-tab>
    <ngx-spinner type="cog" size="medium" color="#b8a5e8">
        <p style="font-size: 20px; color: white; margin-top: 60px;">preparing tender..</p>
    </ngx-spinner>
</mat-tab-group>