<div class="main-content">
    <div class="sb-toolbar border-bottom">
        <a *ngIf="titleButton === 'Add Crew'"  (click)="addCrew(false)"><i class="material-icons"  matTooltip="{{titleButton}}">add</i></a>
        <a *ngIf="titleButton === 'Add labour'" (click)="addLabour(false)" > <i class="material-icons"  matTooltip="{{titleButton}}">add</i></a>
        <a *ngIf="titleButton === 'Add Equipment'"(click)="addEquipment()"><i class="material-icons"  matTooltip="{{titleButton}}">add</i></a>
    </div>
    <mat-tab-group  class="body-with-tab" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="First">  <ng-template  mat-tab-label>Crew</ng-template>
            <div class="table-responsive  border-top ">
            <table class="" mat-table [dataSource]="crew" class="mat-elevation-z8 ">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="Equipment">
                    <th mat-header-cell *matHeaderCellDef>Equipment Name</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor='let equipment of element.equipments'>
                            {{equipment.name}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Equipment Rate">
                    <th mat-header-cell *matHeaderCellDef>Equipment Hr Rate</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor='let equipment of element.equipments'>
                            {{equipment.hourlyRate}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Labour">
                    <th mat-header-cell *matHeaderCellDef>Labour Name</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor='let labour of element.labours'>
                            {{labour.name}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Labour Rate">
                    <th mat-header-cell *matHeaderCellDef>Labour Hr Rate</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngFor='let labour of element.labours'>
                            {{labour.hourlyRate}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element, let i=index">
                        <i (click)="updateCrew(true, element)" [matTooltipPosition]="'above'" class="material-icons" 
                        [ngStyle]="{'color':'blue'}" matTooltip="edit">edit</i>
                        <!-- <i (click)="removeCrew(element, i)" [matTooltipPosition]="'above'" class="material-icons"
                            [ngStyle]="{'color':'red'}" matTooltip="Remove">close</i> -->
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
        </mat-tab>
        <mat-tab label="Equipments"> 
            <div class="table-responsive">
                <app-crew-equipment></app-crew-equipment>
            </div>    
        </mat-tab>
        <mat-tab label="Labour"> 
            <div class="table-responsive">
                <app-crew-labour></app-crew-labour>
            </div> 
        </mat-tab>
        </mat-tab-group>
        <ngx-spinner type="cog" size="medium" color="#b8a5e8">
            <p style="font-size: 20px; color: white; margin-top: 60px;">Loading data ..</p>
        </ngx-spinner>
    </div>
    
