table {
    width: 100%;
 }
w-50{
width:50%;

}
.main-content{
	.table-responsive{
		height: calc(100% - 125px);            
	}
}
form{
margin-bottom: 40px;
background: #f9f9f9;
padding: 3.1375rem 20px;

}
.mat-tab-label.mat-tab-label-active {
    color: red;
}

th,
td {
  overflow: hidden;
  width: 500px ;
  word-wrap: break-word ;
  white-space: nowrap;
}
.main-content{
	.table-responsive{
		height: 100% ;
		overflow-y: auto;
	}
}
