<div class="row top-70">
    <div class="col-12">
        <div class="col-3">
            <mat-form-field *ngIf="tenderData">
                <mat-label>Cars</mat-label>
                <select [disabled]="ifSelectedLine" matNativeControl required #selSec
                    (change)="showSection(selSec.value, '1')" [(ngModel)]="defaultSec">
                    <option>Select Section</option>
                    <option *ngFor="let section of tenderData.sections" (onSelectionChange)="showSection(selSec.value)"
                        value="{{section._id}}">{{section.name}}</option>
                </select>
            </mat-form-field>
        </div>
        <div class="col-12 pl-0">
            <div *ngIf="filteredSection">
                <table>
                    <thead>
                        <!-- <th></th> -->
                        <th>specNo</th>
                        <th >itemNo</th>
                        <th >itemName</th>
                        <th >description</th>
                        <th >description</th>
                        <th >unit</th>
                        <th >unit Price</th>
                        <th >quantity</th>
                        <th >Total Price</th>
                        <th >Action</th>
                    </thead>
                    <tbody class="table-bordered">
                        <ng-container *ngIf="filteredSection[0].lineItems">
                            <ng-container *ngFor="let item of filteredSection[0].lineItems; let i = index">
                                <tr>
                                    <!-- <td></td> -->
                                    <td>{{item.specNo}}</td>
                                    <td>{{item.itemNo}}</td>
                                    <td>{{item.itemName}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.unit}}</td>
                                    <td>{{item.unitPrice}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.total}}</td>
                                    <td><button mat-raised-button type="button" (click)="postSubline(item)"
                                            matTooltip="save line item" [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">save</i>
                                        </button></td>
                                </tr>
                                <tr *ngIf="item.subLineItems.length;" class="bg-light">
                                    <!-- <td colspan="1">
                                    </td> -->
                                    <td colspan="10">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Name</th>
                                                    <th>Unit</th>
                                                    <th>Unit Price</th>
                                                    <th>Quantity</th>
                                                    <th>subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sub of item.subLineItems; let sIdx = index;">
                                                    <td>L{{sIdx}}</td>
                                                    <td>{{sub.name}}</td>
                                                    <td>{{sub.unit}}</td>
                                                    <td>{{sub.unitPrice}}</td>
                                                    <td>
                                                        <span class="col-1">
                                                            <input type="number" #val value="{{sub.quantity}}"
                                                                (keyup)="sub.quantity= val.value"
                                                                (change)="getModels(i)">
                                                        </span>
                                                    </td>
                                                    <td>{{sub.totalPrice}}</td>

                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Sub Total Price:</td>
                                                    <td>{{item.subTotalPrice}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Crew
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div *ngIf="item.crewItemRef === null">
                                                <button (click)="addCrewToLine(selectedSection, item._id)">Add
                                                    crew</button>
                                            </div>
                                            <div *ngIf="item.crewItemRef !== null">
                                                <p>labour Total Cost: {{item.crewItemRef.labourTotalCost}}</p>
                                                <p>equipmentTotalCost: {{item.crewItemRef.equipmentTotalCost}}</p>
                                                <p>crewTotalCost: {{item.crewItemRef.crewTotalCost}}</p>
                                            </div>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Trench
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div *ngIf="item.trenchRef == null">
                                                <button (click)="addTrenchToLine(item)">Add trench</button>
                                            </div>
                                            <div *ngIf="item.trenchRef !== null">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col">Bedding weight:</div>
                                                            <div class="col">
                                                                <span style="font-weight: bold;">{{ item.trenchRef.beddingWeight}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">Backfill weight:</div>
                                                            <div class="col">
                                                                <span style="font-weight: bold;">{{ item.trenchRef.backfillWeight}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <button 
                                                        mat-raised-button 
                                                        color="primary" 
                                                        (click)="addTrenchToLine(item)">
                                                            Edit Trench
                                                        </button>
                                                    </div>
                                                    <div class="col-3">
                                                        <button 
                                                        mat-raised-button 
                                                        color="warn" 
                                                        (click)="deleteTrenchFromLine(selectedSection,
                                                                item, item.trenchRef)">
                                                            Delete Trench
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>

                </table>
                <div *ngIf="!filteredSection[0].lineItems.length">
                    <p class="d-flex justify-content-center">
                        No lineitem found...
                    </p>
                </div>

            </div>
            <ng-container *ngIf="!filteredSection">
                <p class="d-flex justify-content-center">
                    Select Line items to attach subline item
                </p>
            </ng-container>
        </div>
        <div class="nav-bottom px-4 py-2 border-top d-flex justify-content-end">
            <button mat-raised-button class="" type="button" color="primary" (click)="next()">Continue To Bid</button>
        </div>
    </div>
</div>

<!-- <div class="d-flex fixed-bottom px-4 py-2 border-top">
    <button class="justify-content-end">Save</button>
</div> -->

<ngx-spinner type="cog" size="medium" >
    <p >Loading data</p>
</ngx-spinner>
