<div class="mt-5">

    <table class="table m-top ">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th>Total Line Items</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="attendedSubs.length">
                <tr *ngFor="let item of attendedSubs">
                    <td>
                    </td>
                    <td>{{item.subContractorId.name}}</td>
                    <td></td>
                    <td><button  mat-raised-button type="button" color="primary"  (click)="createSub(item.subContractorId)">Add quote</button></td>
                </tr>
            </ng-container>
           
            <tr *ngIf="nfSl.length">
                <td>
                </td>
                <td>
                    <app-invited-subcontractors [notifiedSubs]=" tenderID" (subSelected)="subSelection($event)"></app-invited-subcontractors>
                </td>
                <td></td>
                <td><button  mat-raised-button type="button" color="primary" (click)="createSub(_sub)">Add quote</button></td>
            </tr>
            <tr *ngIf="!nfSl.length">
                <td colspan="4">
                    <p class="d-flex justify-content-center">There are no invited Sub-contractors</p>
                </td>
            </tr>
        </tbody>
    </table>
    
<div class="d-flex  px-4 py-2  pull-right">
    <button  mat-raised-button  color="compare" class="justify-content-end" (click)="compare()">compare quotes</button>
    <button  mat-raised-button  color="warn" class="justify-content-end" (click)="cancel()">Cancel</button>
</div>

</div> 
    <ngx-spinner type="cog" size="medium" color="#b8a5e8">
        <p style="font-size: 20px; color: white; margin-top: 60px;"></p>
    </ngx-spinner>