.m-top {
  margin-top: 68px;
  height: calc(100% - 137px);
  overflow-y: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
thead {
  background-color: #fff0cc;
  background-color: #f3f3f3;
}

tr:nth-child(even) {
  background-color: #fcfbfd;
}
td a i {
  color: #e1dfe1;
  margin-left: 10px;
}
.table > tbody > tr > td {
  padding: 2px 0px;
}
.table > thead > tr > th {
  font-size: 16px;
  padding: 8px 4px;
}
.dropdown {
  border-radius: 14px;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}
.mat-column-Service-Type {
  border-right: 1px solid #f3f3f3;
  align-self: stretch;
  text-align: left;
  width: 180px;
}
.mat-column-Name {
  border-right: 1px solid #f3f3f3;
  align-self: stretch;
  text-align: left;
  width: 100px;
}
.compare {
  background-color: #b6abab;
}
.nav-bottom {
  position: fixed;
  bottom: 0;
  width: calc(100% - 220px);
  display: flex;
}