<div class="mt-5">

    <table class="table m-top ">
        <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Status</th>
                <th>Total Line Items</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="attendedSubs.length >0">
                <tr *ngFor="let item of attendedSubs">
                    <td>
                        <a><i class="material-icons">edit</i></a>
                        <a><i class="material-icons">remove_red_eye</i></a>
                        <a><i class="material-icons">delete_sweep</i></a>
                    </td>
                    <td>{{item.subContractorId.name}}</td>
                    <td></td>
                    <td><button class="bg" (click)="createSub(item.subContractorId)">Add quote</button></td>
                </tr>
            </ng-container>
            <tr>
                <td>
                    <a><i class="material-icons">edit</i></a>
                    <a><i class="material-icons">remove_red_eye</i></a>
                    <a><i class="material-icons">delete_sweep</i></a>
                </td>
                <td >
                    <div  *ngIf="notifiedSubList">
                        <mat-form-field >
                            <mat-label >Select Sub Contractor</mat-label>
                            <mat-select  #notify (selectionChange)="subSelection(notify.value)">
                                <mat-option *ngFor="let sub of notifiedSubList" [value]="sub">
                                    {{sub.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
                <td></td>
                <td><button  class="bg" (click)="createSub(_sub)">Add quote</button></td>
            </tr>
        </tbody>
    </table>
    <button (click)="compare()">compare quotes</button>
    <button type="submit" (click)="cancel()">Cancel</button>
</div>