<form [formGroup]="labourForm">
  <div *ngIf="data.val == false">
    <h1 mat-dialog-title align="center">Add Labour</h1>
  </div>
  <div *ngIf="data.val == true">
    <h1 mat-dialog-title align="center">Update Labour</h1>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-label>Name</mat-label><span class="text-danger">*</span>
      <mat-form-field class="example-full-width">
        <input formControlName="name" matInput type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Rate</mat-label><span class="text-danger">*</span>
      <mat-form-field class="example-full-width">
        <input formControlName="hourlyRate" matInput type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Description</mat-label><span class="text-danger">*</span>
      <mat-form-field class="example-full-width">
        <input formControlName="description" matInput type="text">
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions class=" pull-right">
    <div *ngIf="data.val == false">
      <button mat-raised-button type="button" [disabled]="!labourForm.valid" (click)="save()"
      color="primary">Save</button>
    </div>
    <div *ngIf="data.val == true">
      <button mat-raised-button type="button" [disabled]="!labourForm.valid" (click)="update()"
      color="primary">Update</button>
    </div>
    <button mat-raised-button type="button" (click)="close()" color="primary">Cancel</button>
  </mat-dialog-actions>
</form>
