<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ft-tab">
                    <p>SmartBid 2019</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ft-tab">
                    <p>©Legal</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ft-tab">
                    <p>Privacy</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ft-tab">
                    <p>Support</p>
                </div>
            </div>
        </div>
    </div>
</footer>