/* footer {
    background: darkgray;
    padding: 6px 15px;
} */

footer {
    background: darkgray;
    /* width: calc(100% - 276px);
    position: fixed; */
}

.ft-tab {
    padding: 0px 15px;
}

footer p {
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    footer {
        margin-left: 160px;
        text-align: center;
    }
}