footer {
    /*  */
    background-color: #f4f4f4;
    background: darkgray;
    font-family: "Microsoft JhengHei !important";
    font-family: 'Duru Sans', sans-serif;
    padding: 0px;
    margin-bottom: 0;
}

// .ft-tab {
//     padding: 0px 15px;
// }
footer p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    padding: 5px 0px;
    margin: 0;
    letter-spacing: .1px;
}

@media only screen and (max-width: 768px) {
    footer {
        margin-left: 160px;
        text-align: center;
    }
}