.hr {
    border: 0;
    float: left;
    height: 1px;
    position: relative;
    width: 100%;
    margin: 15px 0;
    background-color: transparent !important;
    background-color: rgba(51, 51, 51, 0.4);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 20%, 0)), color-stop(50%, hsla(0, 0%, 20%, 0.5)), to(hsla(0, 0%, 20%, 0)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
    background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.5) 50%, hsla(0, 0%, 20%, 0));
    background-repeat: no-repeat;
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#00333333', GradientType=1);
}

.hr::before {
    border: 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: transparent !important;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 100%, 0)), color-stop(50%, hsl(0, 0%, 100%)), to(hsla(0, 0%, 100%, 0)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
    background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

.hr::after {
    border: 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 2px;
    right: 5%;
    left: 5%;
    background-color: transparent !important;
    background-color: rgba(51, 51, 51, 0.24);
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(hsla(0, 0%, 20%, 0)), color-stop(50%, hsla(0, 0%, 20%, 0.3)), to(hsla(0, 0%, 20%, 0)));
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
    background-image: -moz-linear-gradient(left, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
    background-image: linear-gradient(to right, hsla(0, 0%, 20%, 0), hsla(0, 0%, 20%, 0.3) 50%, hsla(0, 0%, 20%, 0));
    background-repeat: no-repeat;
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#00333333', GradientType=1);
}

.hr span {
    position: absolute;
    top: -10px;
    display: inline-block;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    font-weight: 700;
    color: #e53935;
    text-shadow: 0 1px 1px #FFFFFF;
    text-transform: uppercase;
}

.card {
    margin-top: 70px;
}