<div class="modal-body">
  <form [formGroup]="tenderHeaderForm" novalidate *ngIf="tenderHeaderForm">
    <mat-form-field>
      <mat-label for="clientName">Client Name</mat-label>
      <div formGroupName='clientName'>
        <input matInput formControlName="name" placeholder="choose an existing client" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let client of clientList | async" [value]="client.name" (blur)="removeNonExistentClient($event)" (click)='getClientID(client._id,client.name)'>
            <span>{{client.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </div>

      <mat-error *ngIf="(!tenderHeaderForm.controls.clientName.valid &&  
        tenderHeaderForm.controls.clientName.dirty)" class="error">
        <div *ngIf="tenderHeaderForm.controls.clientName.errors?.invalidMsg">
          {{tenderHeaderForm.controls.clientName.errors.invalidMsg}}
        </div>

      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="name">Tender name</mat-label>
      <input matInput formControlName="name" placeholder="type in tender name">
      <mat-error *ngIf="!tenderHeaderForm.controls.name.valid && 
        (tenderHeaderForm.controls.name.dirty)" class="error">
        <div *ngIf="tenderHeaderForm.controls.name.errors.invalidMsg">
          {{tenderHeaderForm.controls.name.errors.invalidMsg}}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="tenderName">Description</mat-label>
      <input matInput type="text" formControlName="description" placeholder="type in a short description">
      <mat-error *ngIf="!tenderHeaderForm.controls.description.valid && 
        (tenderHeaderForm.controls.description.dirty)" class="error">
        <div *ngIf="tenderHeaderForm.controls.description.errors.invalidMsg">
          {{tenderHeaderForm.controls.description.errors.invalidMsg}}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <div class="form-group">
          <mat-label>Tender Open Date</mat-label>
          <mat-form-field>
            <input matInput [matDatepicker]="openDtpicker" placeholder="Choose a date" formControlName="openDate" [min]="tenderOpenMinDate">
            <mat-datepicker-toggle matSuffix [for]="openDtpicker"></mat-datepicker-toggle>
            <mat-datepicker #openDtpicker></mat-datepicker>
            <mat-error *ngIf="!tenderHeaderForm.controls.openDate.valid && 
                (tenderHeaderForm.controls.openDate.dirty)" class="error">
              <div *ngIf="tenderHeaderForm.controls.openDate.errors.invalidMsg">
                {{tenderHeaderForm.controls.openDate.errors.invalidMsg}}
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-group">
          <mat-label>Tender Close date</mat-label>
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="closeDtpicker" placeholder="Choose a date" formControlName="closeDate">
            <mat-datepicker-toggle matSuffix [for]="closeDtpicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [disableSecond]="disableSecond" #closeDtpicker></ngx-mat-datetime-picker>
            <mat-error *ngIf="!tenderHeaderForm.controls.closeDate.valid && 
                (tenderHeaderForm.controls.closeDate.dirty)" class="error">
              <div *ngIf="tenderHeaderForm.controls.closeDate.errors.invalidMsg">
                {{tenderHeaderForm.controls.closeDate.errors.invalidMsg}}
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-group">
          <mat-label>Quote Open Date</mat-label>

          <mat-form-field>
            <input matInput [matDatepicker]="qtOpenDtpicker" placeholder="Choose a date" formControlName="quoteStartDate" [min]="tenderCloseMinDate" [max]="quoteCloseMaxDate">
            <mat-datepicker-toggle matSuffix [for]="qtOpenDtpicker"></mat-datepicker-toggle>
            <mat-datepicker #qtOpenDtpicker></mat-datepicker>
            <mat-error *ngIf="!tenderHeaderForm.controls.quoteStartDate.valid && 
                (tenderHeaderForm.controls.quoteStartDate.dirty)" class="error">
              <div *ngIf="tenderHeaderForm.controls.quoteStartDate.errors.invalidMsg">
                {{tenderHeaderForm.controls.quoteStartDate.errors.invalidMsg}}
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form-group">
          <mat-label>Quote Close Date</mat-label>
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="qtClsDtpicker" placeholder="Choose a date" [min]="quoteCloseMinDate" [max]="quoteCloseMaxDate" formControlName="quoteEndDate">
            <mat-datepicker-toggle matSuffix [for]="qtClsDtpicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [disableSecond]="disableSecond" #qtClsDtpicker></ngx-mat-datetime-picker>
            <mat-error *ngIf="!tenderHeaderForm.controls.quoteEndDate.valid && 
                (tenderHeaderForm.controls.quoteEndDate.dirty)" class="error">
              <div *ngIf="tenderHeaderForm.controls.quoteEndDate.errors.invalidMsg">
                {{tenderHeaderForm.controls.quoteEndDate.errors.invalidMsg}}
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <mat-form-field>
        <mat-label>Mode of submission</mat-label>
        <mat-select formControlName="submissionMode">
          <mat-option *ngFor="let mode of submitModes" [value]="mode.name" name="mode.name">{{mode.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div *ngIf="tData.value == false">
      <button mat-raised-button   type="button" color="primary" (click)="save()" [disabled]="!tenderHeaderForm.valid"
        class=" pull-right">Save</button>
    </div>
    <div *ngIf="tData.value == true">
      <button mat-raised-button   type="button"  [disabled]="!tenderHeaderForm.valid" (click)="update()"
        class="update pull-right">Update</button>
    </div>
    <button mat-raised-button   type="button" color="warn"(click)="close()" class="pull-right">Cancel</button>
  </form>
</div>