<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="clientName">Client Name</label>
      <input type="email" class="form-control" id="clientName" name="clientName" [(ngModel)]="tender.clientName" placeholder="Client Name">
    </div>

    <div class="form-group">
      <label for="tenderName">Name</label>
      <input type="email" class="form-control" id="tenderName" placeholder="tenderName" name="tenderName" [(ngModel)]="tender.tenderName" placeholder="tender Name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="email" class="form-control" id="description"  name="tenderDescription" [(ngModel)]="tender.tenderDescription" placeholder="Enter Description">
    </div>


    <div class="form-group">
      <label>Open Date</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="tender.openDate" ngbDatepicker #d1="ngbDatepicker" [placement]="placement" (focus)="d1.toggle()">

      </div>
    </div>

    <div class="form-group">
      <label >Closed date</label>
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="tender.closeDate" ngbDatepicker #d2="ngbDatepicker"  [placement]="placement" (focus)="d2.toggle()">

    </div>

    <div class="form-group">
      <label>Quote Start Date</label>
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="tender.quoteStartDate" ngbDatepicker #d3="ngbDatepicker" [placement]="placement" (focus)="d3.toggle()">
    </div>

    <div class="form-group">
      <label>Quote End Date</label>

      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="tender.quoteEndDate" ngbDatepicker #d4="ngbDatepicker"  [placement]="placement"(focus)="d4.toggle()">
    </div>
    <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
    <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Save</button>
  </form>
</div>
