table {
    width: 100%;
 }
w-50{
width:50%;

}
form{
margin-bottom: 40px;
background: #f9f9f9;
padding: 3.1375rem 20px;

}
th, td{
    overflow: hidden;
    width: 180px!important;
    word-wrap: break-word!important;
    
    white-space: nowrap;
  }