    // .mat-raised-button:not([class*=mat-elevation-z]) {
    //     margin: 20px 0px;
    // }
    table {
        width: 100%;
     }
w-50{
    width:50%;
  
}
form{
    background: #f9f9f9;
    padding: 3.1375rem 20px;

}
a{
    color: #fff;
  
}