
<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header card-header-tabs card-header-warning">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Labour:</span>
             <!-- <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                    <i class="material-icons">bug_report</i> Bugs
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                    <i class="material-icons">code</i> Website
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                    <i class="material-icons">cloud</i> Server
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>-->
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" >
              <table class="table">
                <tbody>
                <tr *ngFor="let labour of labours">
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                      </label>
                    </div>
                  </td>
                  <td>{{labour.name}}</td>
                  <td>
                   ${{labour.price}}
                  </td>
                </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header card-header-tabs card-header-warning">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">EQUIPMENT</span>
              <!-- <ul class="nav nav-tabs" data-tabs="tabs">
                 <li class="nav-item">
                   <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                     <i class="material-icons">bug_report</i> Bugs
                     <div class="ripple-container"></div>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                     <i class="material-icons">code</i> Website
                     <div class="ripple-container"></div>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                     <i class="material-icons">cloud</i> Server
                     <div class="ripple-container"></div>
                   </a>
                 </li>
               </ul>-->
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="">
              <table class="table">
                <tbody>
                <tr *ngFor="let equipment of equipments">
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                      </label>
                    </div>
                  </td>
                  <td>{{equipment.name}}</td>
                  <td>
                    ${{equipment.price}}
                  </td>
                </tr>


                     </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
  <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Save</button>
</div>
