<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <div class="card">
              <div class="card-header card-header-tabs card-header-danger">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">

                    <ul class="nav nav-tabs" data-tabs="tabs">


                      <li class="nav-item">
                        <a mat-button class="nav-link active" (click)="contractor=1" href="#profile" data-toggle="tab">
                          BAR GRAPH
                          <div class="ripple-container"></div>
                        </a>

                      </li>
                      <li class="nav-item">
                        <a mat-button class="nav-link active" (click)="contractor=2" href="#profile" data-toggle="tab">
                          LINE GRAPH
                          <div class="ripple-container"></div>
                        </a>

                      </li>


                    </ul>
                  </div>
                </div>
              </div>
              <!-- <h4 class="card-title mt-0"> Tender</h4>-->
              <!--<p class="card-category"> Here is a subtitle for this table</p>-->
            </div>
            <div class="card-body">
              <div [ngSwitch]="contractor">

                <div *ngSwitchCase="1" class="bg-light graph-container">
                  <div class="row" *ngFor="let item of tender.items">
                    <div class="col mx-0">
                      <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [plugins]="barChartPlugins"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                      </canvas>
                    </div>
                    <div class="col mx-0">
                      <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [plugins]="barChartPlugins"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                      </canvas>
                    </div>
                  </div>
                </div>

                <div *ngSwitchCase="2" class="bg-light graph-container">
                  <div class="row" *ngFor="let item of tender.items">
                    <div class="col mx-0">
                      <canvas baseChart
                              [datasets]="lineChartData"
                              [labels]="lineChartLabels"
                              [options]="lineChartOptions"
                              [colors]="lineChartColors"
                              [legend]="lineChartLegend"
                              [chartType]="lineChartType"
                              [plugins]="lineChartPlugins">
                      </canvas>
                    </div>
                    <div class="col mx-0">
                      <canvas baseChart
                              [datasets]="lineChartData"
                              [labels]="lineChartLabels"
                              [options]="lineChartOptions"
                              [colors]="lineChartColors"
                              [legend]="lineChartLegend"
                              [chartType]="lineChartType"
                              [plugins]="lineChartPlugins">
                      </canvas>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
