<div class="main-content">
    <!-- <mat-grid-list cols="1">
        <mat-grid-tile> -->

    <!-- <div class="card card-plain">
                <div class="card-header"> -->
    <!-- <div class="card"> -->

    <mat-toolbar color="primary">

        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a mat-button class="nav-link active" (click)="contractor=1" href="#profile" data-toggle="tab">
                          BAR GRAPH
                          <div class="ripple-container"></div>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a mat-button class="nav-link active" (click)="contractor=2" href="#profile" data-toggle="tab">
                          LINE GRAPH
                          <div class="ripple-container"></div>
                        </a>

                    </li>


                </ul>
            </div>
        </div>

    </mat-toolbar>


    <!-- </div> -->
    <!-- <div class="card-body">
                        <div [ngSwitch]="contractor">

                            <div *ngSwitchCase="1" class="bg-light graph-container">
                                <div class="row" *ngFor="let item of tender.items">
                                    <div class="col mx-0">
                                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                                    </div>
                                    <div class="col mx-0">
                                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchCase="2" class="bg-light graph-container">
                                <div class="row" *ngFor="let item of tender.items">
                                    <div class="col mx-0">
                                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                      </canvas>
                                    </div>
                                    <div class="col mx-0">
                                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                      </canvas>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div> -->
    <!-- </div>
            </div> -->


    <!-- </mat-grid-tile>
    </mat-grid-list> -->
</div>