<div class="main-content">
        <mat-tab-group>
                <mat-tab label="Active Tenders">
                    <mat-grid-list [gutterSize]="'10px'" cols="3">
                        <div *ngFor = 'let t of tendersnew' class="card-category">
                    <mat-grid-tile>
                        <div class="card card-chart">
                            <div class="card-header">
                                <h4 class="card-title">{{t.name}}</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-category">
                                    <ul style="list-style-type: none;padding:8px;">
                                        <!-- <li >Client Name: <span class="color" > {{t.clientName}}</span></li> -->
                                        <li >Tender Name:  <span class="color" >  {{t.name}}</span></li>
                                        <li class="bg-red">Away from closing: <span class="color" >{{getDiff(t.openDate,t.closeDate)}}days</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                            </mat-grid-tile>
                        </div>
                        </mat-grid-list>         
        <mat-grid-list [gutterSize]="'10px'" cols="2">
            <mat-grid-tile>
                <div class="card card-chart">
                    <div class="card-header ">
                        <h4 class="card-title"> Tender Name</h4>
                    </div>
                    <div class="card-body" style="overflow-y:auto;">
                        <div  *ngFor = 'let t of tenders' class="card-category">
                            <ul style="list-style-type: none;padding:8px;box-shadow:0px 0px 1px 2px #eeeeee;">
                                <!-- <li >Client Name: <span class="color" > {{t.clientName}}</span></li> -->
                                <li >Tender Name:  <span class="color" >  {{t.name}}</span></li>
                                <li class="bg-red">Away from closing: <span class="color" >{{getDiff(t.openDate,t.closeDate)}}days</span></li>
                            </ul>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">Tender Name with Description and status</h4>
                        </div>
                        <div class="card-body" style="overflow-y:auto;">
                            <div *ngFor = 'let t of tenders' class="card-category">
                                <ul style="list-style-type: none;padding:8px;box-shadow:0px 0px 1px 2px #eeeeee;">
                                    <li >Tender Name:  <span class="color" >  {{t.name}}</span></li>
                                    <li >Description: <span class="color" > {{t.description}}</span></li>
                                    <li >Status: <span class="color" > {{t.status}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list [gutterSize]="'10px'" cols="2">
        <mat-grid-tile colspan="1">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">List of Similar Bids/Tenders in the past</h4>
                    <p class="card-category">Tenders for the same regions as the current active tenders</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                                <th>user ID</th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Body</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of data">
                                    <td>{{product.userId }}</td>
                                    <td>{{product.id}}</td>
                                    <td >{{product.title}}</td>
                                <td>{{product.body}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="card card-chart">
                    <div class="card-header ">
                        <h4 class="card-title">List of all tenders with a summary of progress</h4>
                    </div>
                    <div class="card-body" style="overflow-y:auto;">
                            <div *ngFor = 'let t of tenders' class="card-category">
                                <ul style="list-style-type: none;padding:8px;box-shadow:0px 0px 1px 2px #eeeeee;">
                                    <li >Tender Name:  <span class="color" > {{t.name}}</span></li>
                                    <li >Progress: <span class="color" > {{t.status}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Calendar">
        <app-fullcalender></app-fullcalender>
        </mat-tab>
        </mat-tab-group>
        <ngx-spinner type="cog" size="medium" color="#b8a5e8">
            <p style="font-size: 20px; color: white; margin-top: 60px;">Loading data ..</p>
        </ngx-spinner>
    </div> 


