mat-card-body {
    background: #f9f9f9;
}
.card-header {
    background: #a9a9a9;
    overflow-y: visible;
    height: auto;
}
.tab-cell-styl th, td{
    width:100%;
}
.bg-red{
color: #ff9800;
}
.color{
    color:blue;
}
.card-title{
    color:#fff;
}
.colr{
    background-color: #3f51b5;
}





