           .grey {
               background: #968e8e!important;
           }
           /* .grey:hover {
               background: red !important;
               color: #fff!important;
           } */
           
           .blue {
               background: #e6e1e1;
               color: #fff!important;
           }
           
           .blue:hover {
               background: #e6e1e1;
               color: #fff!important;
           }
           
           .sidebar .nav p .grey {
               color: green!important;
           }
           /* .blue {
    background: orange;
    color: #fff!important;
} */