/* .red {
    color: red;
    ;
} */


/* .sidebar .nav li:first-child>a .red {
    color: red;
}

.sidebar .nav p .red {
    color: red;
} */
           /* .grey {
               background: #968e8e!important;
           }
          
           
           .blue {
               background: #e6e1e1;
               color: #fff!important;
           }
           
           .blue:hover {
               background: #e6e1e1;
               color: #fff!important;
           }
           
           .sidebar .nav p .grey {
               color: green!important;
           }
        */