<div class="main-content">
    <!-- [12:38 PM] Vikas Bansal type either prime contractor or subcontractor -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Sign Up</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder=" Organization Name" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email">
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field>
                                <mat-label>Type</mat-label>
                                <select matNativeControl required>
                                  <option value="volvo">Prime Contractor</option>
                                  <option value="saab">Sub Contractor</option>
                                 
                                </select>
                            </mat-form-field>

                            <div class="row">
                                <div class="col">
                                    <p>Already have an Account?<a routerLink="/login">LOGIN</a></p>
                                </div>
                            </div>
                            <a mat-raised-button type="submit" class="btn btn-danger pull-right" routerLink="/dashboard">Update Profile</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>