<form [formGroup]="loginForm" novalidate (ngSubmit)="submit()" class="pad-l-r">
  <mat-form-field>
    <input formControlName="email" matInput placeholder="Email" type="text" />
    <div
      *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
      class="error"
    >
      <div *ngIf="loginForm.controls.email.errors.invalidMsg">
        <!--{{ loginForm.controls.email.errors.invalidMsg }}-->
      </div>
    </div>
  </mat-form-field>
 
  <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Password" />
    <div
      *ngIf="
        !loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)
      "
      class="error"
    ></div>
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Role</mat-label>
    <select matNativeControl required>
      <option value="volvo">Prime Contractor</option>
      <option value="saab">Sub Contractor</option>
    </select>
  </mat-form-field>
  <p>Your organization does not exist?<a class="marg" href="#" (click)="orgRoute(2)">Add Organization</a></p>
  Don't have account ? <a class="marg"  href="#" (click)="signRoute(1)">Signup</a>
 
  <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="primary" class=" pull-right">
    login
  </button>
  <div class="clearfix"></div>
</form>