<div>
    <mat-form-field>
        <mat-label>Cars</mat-label>
        <select *ngIf="quotes" #q matNativeControl required (click)="showQuote(q.value)" [value]="q.value">
            <option>select</option>
            <option *ngFor="let item of quotes;" value="{{item._id}}">{{item.name}}</option>
        </select>
    </mat-form-field>
    <div *ngIf="filteredQuote.length>0">
        <table>
            <thead>
                <tr>
                    <th>Subcontractors</th>
                    <th>Unit</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of filteredQuote[0].quotes; let itemN = index;">
                    <mat-radio-group name="{{filteredQuote[0]._id}}">
                        <td><mat-radio-button  value="{{itemN}}" (change)="selectQuote(quote.subContractorId._id, filteredQuote[0])" [checked]="quote.selected">{{quote.subContractorId.name}}</mat-radio-button></td>
                    </mat-radio-group>
                    <td>{{quote.unit}}</td>
                    <td>{{quote.unitPrice}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<button (click)="close()" mat-raised-button type="button" color="primary">Save</button>
<button (click)="close()" mat-raised-button type="button" color="warn">Close</button>
