<div class="row top-70">
    <div class="col-3 pr-0">
        <h3>Subline Items</h3>
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Unit</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of selectedQuotes; let itemN = index;">
                    <mat-radio-group name="selectedQuotes">
                        <td>
                            {{quote.name}}
                        </td>
                    </mat-radio-group>
                    <td>{{quote.unit}}</td>
                    <td>{{quote.unitPrice}}</td>
                    <td>
                        <mat-checkbox [disabled]="!finalArr.length" id="{{quote._id}}" #quo [value]="quote._id"
                            (change)="getQuote($event, quote, selectedQuotes);">
                        </mat-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-9 px-0">
        <div class="col-3">
            <mat-form-field *ngIf="tenderData">
                <mat-label>Tender Line Items</mat-label>
                <select [disabled]="ifSelectedLine" matNativeControl required #selSec
                    (change)="showSection(selSec.value, '1')">
                    <option>Select Section</option>
                    <option *ngFor="let section of tenderData.sections" (onSelectionChange)="showSection(selSec.value)"
                        value="{{section._id}}">{{section.name}}</option>
                </select>
            </mat-form-field>
        </div>
        <div class="col-12 px-0">
            <div *ngIf="filteredSection">
                <table>
                    <thead>
                        <th></th>
                        <th>specNo</th>
                        <th>itemNo</th>
                        <th>itemName</th>
                        <th>description</th>
                        <th>description</th>
                        <th>unit</th>
                        <th>unitPrice</th>
                        <th>quantity</th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="filteredSection[0].lineItems">
                            <ng-container *ngFor="let item of filteredSection[0].lineItems">
                                <tr>
                                    <td>
                                        <mat-checkbox id="{{item._id}}" [value]="item.id"
                                            (change)="getSelectedLine($event, item._id, selectedSection)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{item.specNo}}</td>
                                    <td>{{item.itemNo}}</td>
                                    <td>{{item.itemName}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.unit}}</td>
                                    <td>{{item.unitPrice}}</td>
                                    <td>{{item.quantity}}</td>
                                </tr>
                                <tr *ngIf="item.subLineItems.length;" class="bg-light">
                                    <td colspan="1">
                                    </td>
                                    <td colspan="8">
                                        <table>
                                            <tbody>
                                                <tr *ngFor="let sub of item.subLineItems; let sIdx = index;">
                                                    <td>L{{sIdx}}</td>
                                                    <td>{{sub.name}}</td>
                                                    <td>{{sub.unit}}</td>
                                                    <td>{{sub.unitPrice}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>

                </table>
                <div *ngIf="!filteredSection[0].lineItems.length">
                    <p class="d-flex justify-content-center">
                        No lineitem found...
                    </p>
                </div>

            </div>
            <ng-container *ngIf="!filteredSection">
                <p class="d-flex justify-content-center">
                    Select Line items to attach subline item
                </p>
            </ng-container>
        </div>
    </div>
    
</div>
    <ngx-spinner type="cog" size="medium" color="#b8a5e8">
        <p style="font-size: 20px; color: white; margin-top: 60px;">preparing tender..</p>
    </ngx-spinner>
<div class="d-flex fixed-bottom px-4 py-2 border-top">
    <button class="justify-content-end" (click)="createSublineWithLine()">Save</button>
    <button class="justify-content-end" (click)="toBid()">Continue to Bid</button>
</div>