.top-70 {
  // margin-top: 70px;
  margin-top: 68px;
  height: calc(100% - 137px);
  overflow-y: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.left-16 {
  left: 16%;
}
thead {
   background: #f3f3f3;

  th {
    height: 56px;
    text-align: left;
    font-weight: 400;
    padding: 8px 8px;
  }
}
tr {
  td {
    padding: 12px 8px;
  }
}
.conti {
  color: #fff;
  background-color: #7c0b83;
}
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: calc(100% - 220px);
    display: flex;
  }
