<form *ngIf="createCrewForm" [formGroup]="createCrewForm">

  <div class="hr">
    <span>Crew Name</span>
  </div>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Crew name" type="text">
  </mat-form-field>

  <div class="hr">
    <span>Description</span>
  </div>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Enter Description" type="text"></textarea>
  </mat-form-field>

   <div>
    <tag-input  formControlName="equipments" [onlyFromAutocomplete]="true" [identifyBy]="'_id'"
      [displayBy]="'name'">
      <tag-input-dropdown [identifyBy]="'_id'" [displayBy]="'name'" [keepOpen]="false" [showDropdownIfEmpty]="true"
        [autocompleteItems]="equipmentsData">
      </tag-input-dropdown>
    </tag-input>
  </div>
   <div>
    <tag-input  formControlName="labours" [onlyFromAutocomplete]="true" [identifyBy]="'_id'"
      [displayBy]="'name'">
      <tag-input-dropdown [identifyBy]="'_id'" [displayBy]="'name'" [keepOpen]="false" [showDropdownIfEmpty]="true"
        [autocompleteItems]="laboursData">
      </tag-input-dropdown>
    </tag-input>
  </div>





  <mat-dialog-actions class=" pull-right">
    <div *ngIf="data.val == false">
      <button mat-raised-button type="button" [disabled]="!createCrewForm.valid" (click)="save()"
        color="primary">Save</button>
    </div>
    <div *ngIf="data.val == true">
      <button mat-raised-button type="button" [disabled]="!createCrewForm.valid" (click)="updateCrew()"
        color="primary">Update</button>
    </div>
    <button mat-raised-button type="button" (click)="close()" color="primary">Cancel</button>
  </mat-dialog-actions>
</form>