<form *ngIf="createCrewForm" [formGroup]="createCrewForm">

  <div class="hr">
    <span>Crew Name</span>
  </div>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Crew name" type="text">
  </mat-form-field>

  <div class="hr">
    <span>Description</span>
  </div>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Enter Description" type="text"></textarea>
  </mat-form-field>

  <div class="row" formArrayName="equipments">
    <ng-container *ngFor="let equipmentRow of createCrewForm.get('equipments').controls; let i = index;" [formGroupName]="i">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Equipments</mat-label>
          <mat-select formControlName='name'>
            <mat-option *ngFor="let eqpData of equipmentsData" [value]="eqpData.name">{{eqpData.name}}</mat-option>
          </mat-select>
        </mat-form-field>{{equipmentsData.name}}
      </div>
      <div class="col-4">
        <mat-form-field>
          <input formControlName='hourlyCost' matInput placeholder="Hourly Rate" type='text'>
        </mat-form-field>
      </div>
    </ng-container>
    <div class=" sb-toolbar">
      <a><i class="material-icons" (click)="__addEquipments()" matTooltip="Add equipment">add</i></a>
    </div>
    <a (click)="removeEquipment(equipmentRow)" matTooltip="Remove equipment"><i class="material-icons">minimize</i></a>
  </div>
  <hr>

  <div class="row" formArrayName="labours">
    <ng-container *ngFor="let labourRow of createCrewForm.get('labours').controls; let i = index;" [formGroupName]="i">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Labours</mat-label>
          <mat-select formControlName='name'>
            <mat-option  *ngFor="let lbrData of laboursData" [value]="lbrData.name">{{lbrData.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input formControlName='hourlyCost' matInput placeholder="Hourly Rate" type='text'>
        </mat-form-field>
      </div>
    </ng-container>
        <div class=" sb-toolbar">
          <a><i class="material-icons" (click)="__addLabours()" matTooltip="Add labour">add</i></a>
        </div>
        <a (click)="removeLabour(labourRow)" matTooltip="Remove labour"><i class="material-icons">minimize</i></a>
  </div>

  <mat-dialog-actions class=" pull-right">
    <div *ngIf="data.val == false">
      <button mat-raised-button type="button" [disabled]="!createCrewForm.valid" (click)="save()"
        color="primary">Save</button>
    </div>
    <div *ngIf="data.val == true">
      <button mat-raised-button type="button" [disabled]="!createCrewForm.valid" (click)="updateCrew()"
        color="primary">Update</button>
    </div>
    <button mat-raised-button type="button" (click)="close()" color="warn">Cancel</button>
  </mat-dialog-actions>
</form>