<div class="modal-body">
    <form [formGroup]="inviteSub" (ngSubmit)="submitForm()">
        <h1 mat-dialog-title align="center">Select Sub Contractor</h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th style="width:60px;">Select</th>
                    <th>Organization</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>    
            <tbody>
                <tr *ngFor="let org of organizations;let i=index">
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [value]="org._id" (change)="onCheckboxChange($event)">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td>{{org.name}}</td>
                    <td>{{org.contactEmail}}</td>
                    <td>{{org.contactPhone}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <div *ngIf="!inviteSub.valid" class="warn">At least one order must be selected</div> -->
        <button type="button" mat-raised-button color="warn" (click)="close()" class="pull-right">Cancel</button>
        <button type="button" mat-raised-button color="primary" (click)="close()" [disabled]="!clicked" class="pull-right">Notify</button>
        <button type="submit" mat-raised-button (click)="clicked = true;" [disabled]="!inviteSub.valid" color="primary" class="pull-right">Save</button>
    </form>
    <ngx-spinner type="cog" size="medium" color="#b8a5e8">
        <p style="font-size: 20px; color: white; margin-top: 60px;">Loading data ..</p>
    </ngx-spinner>
</div>


<!-- <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
    <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Save</button> -->