<div class="modal-body">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Select</th>
                <th>Organization</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let organization of organizations">
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </td>
                <td>
                    {{organization.name}}
                </td>
            </tr>
        </tbody>
    </table>
    <button mat-button color="primary" (click)="close()" class="pull-right">Save</button>
    <button mat-button color="warn" (click)="close()" class="pull-right">Cancel</button>
    

    <!-- <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
    <button mat-raised-button type="submit" (click)="close()" class="btn btn-danger pull-right">Save</button> -->
</div>