/* You can add global styles to this file, and also import other style files */
body, html {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    height: 100%;
}
.main-content{
    margin-top:0;
}
