@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import "flatpickr/dist/flatpickr.css";
body,
html,
.main-content {
	font-family: "Lato", sans-serif !important;
}
.main-content {
	margin-top: 38px !important;
    padding: 30px 15px;
   // min-height: calc(100vh - 89px);
 	height:calc(100% - 57px);
	display: block;
	padding: 30px 15px 0 15px;
	width: 100%;
	// position: relative;
	}
.perfect-scrollbar-on {
	.main-panel{
		max-height: 100%;
	}

}
.main-panel {
	height:100%;
  width: calc(100% - 221px)!important;
}
// 	.main-content {
// 		margin-left: -15px;
// 	}
// }
.sidebar {
	width: 220px;
	.logo {
		.simple-text {
			font-size: 16px !important;
		}
	}
	li {
		width: 220px;
	}
	.nav {
		li {
			&:first-child {
				& > a {
					color: red;
					color: #3f51b5;
					margin: 0 15px;
					i {
						color: red;
						color: #3f51b5;
					}
				}
			}
			&:nth-child(6) {
				& > a {
					border-bottom: 1px solid darkgrey;
					border-radius: 0px;
				}
			}
			&:nth-child(2) {
				& > a {
					color: red;
					color: #3f51b5;
					i {
						color: red;
						color: #3f51b5;
					}
				}
			}
		}
	}
	.sidebar-wrapper {
		width: 220px;
	}
}
html {
	.sidebar {
		.nav {
			p {
				margin: 0;
				line-height: 1.8;
				font-size: 16px;
			}
		}
	}
}
.sidebar .nav li:first-child.active > a,
.sidebar .nav li:nth-child(2).active > a {
	color: #fff;
	background: darkgrey;
}
.sidebar .nav li:first-child.active > a i,
.sidebar .nav li:nth-child(2).active > a i {
	color: #fff;
	background: darkgrey;
}
.sidebar[data-color="danger"] {
	li {
		&.active {
			& > a {
				background-color: #3f51b5;
			}
		}
	}
}
.nav-tabs {
	.nav-item {
		.nav-link {
			padding: 10px 15px;
		}
	}
}
.mat-table {
	overflow: auto;
}
.mat-datepicker-content {
	.mat-calendar {
		width: 219px !important;
		height: 270px !important;
	}
}
.material-icons {
	margin-right: 8px;
	font-size: 18px !important;
}
table {
	table-layout: fixed;
	width: 100%;
}
mat-card {
	overflow-y: hidden;
}
.mat-title {
	margin: 0;
}
.mat-header-cell {
	font-size: 14px !important;
	font-weight: 700;
}
.mr-l {
	margin-left: 6px;
}
.mat-raised-button {
	&:not([class*="mat-elevation-z"]) {
		margin-right: 8px;
		margin-top: 8px;
		margin-bottom: 8px;
		font-weight: 600;
	}
}
.mat-toolbar {
	&.mat-primary {
		margin-bottom: 20px;
	}
}
.tab-cell-styl th,
td {
	overflow: hidden;
	width: 220px !important;
	word-wrap: break-word !important;
	white-space: nowrap;
}
.card {
	height: 100%;
}
.mat-grid-tile {
	.mat-figure {
		display: block !important;
	}
}
