/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'feather';
    src: url('/assets/fonts/feather-webfont.eot');
    /* IE9 Compat Modes */
    src: url('/assets/fonts/feather-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/feather-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/feather-webfont.svg') format('svg');
    /* Legacy iOS */
}

body,
html {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    height: 100%;
    font-family: feather !important;
}

.main-content {
    margin-top: 0;
}

.ngb-dp-month {
    background: red;
}