/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
body,
html, .main-content {
display: block;
padding: 0;
margin: 0;
width: 100%;
position: relative;
height: 100%;
font-family: 'Lato', sans-serif!important;
}
.main-panel .main-content {

margin-left: -15px;

margin-top: 37px;



}
.sidebar {
width: 220px;
}
.sidebar .logo .simple-text {
 font-size: 16px!important;
}

html .sidebar .nav p {
    margin: 0;
    line-height: 1.8;
      font-size: 16px;
    }

.sidebar li {
width: 220px;
}

footer p {
margin: 0;
font-size: 14px !important;
}



.sidebar .nav li:first-child>a {
color: red;
color:#3f51b5;
margin: 0 15px;
}
.sidebar .nav li:nth-child(6)>a {
  
border-bottom:1px solid darkgrey;
border-radius: 0px;
  
    }
    
.sidebar .nav li:nth-child(2)>a {
color: red;
color:#3f51b5;
}

.sidebar .nav li:first-child.active>a,
.sidebar .nav li:nth-child(2).active>a {
color: #fff;
background: darkgrey;
}

.sidebar .nav li:first-child.active>a i,
.sidebar .nav li:nth-child(2).active>a i {
color: #fff;
background: darkgrey;
}

.sidebar .nav li:first-child>a i {
color: red;
color:#3f51b5;
}
.sidebar[data-color=danger] li.active > a {
    background-color: #3f51b5;
}
.sidebar .nav li:nth-child(2)>a i {
color: red;
color:#3f51b5;
}

.sidebar .sidebar-wrapper {
width: 220px;
}

.nav-tabs .nav-item .nav-link {
padding: 10px 15px;
}


app-footer {
width: calc(100% - 288px);
position: fixed;
bottom: 0;
z-index: 999;
    margin: 0;
   
}

.mat-toolbar.mat-primary {
   
  
margin-bottom: 20px;

}
table.mat-table {
 
    border-spacing: 0;
   
}

.mat-raised-button:not([class*=mat-elevation-z]) {
   
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  
    font-weight: 600;

    
}


mat-card{
    margin-top:100px;
    overflow-y: hidden;
}

.mat-title{
    margin:0;
}
.mat-header-cell {
    font-size: 14px!important;
    font-weight: 700;
}
.marg{
    margin-left: 6px;;
}
   
  .mat-table{
    overflow: auto;
  }


table {
    width: 100%;
    table-layout: fixed;
  }
  .mat-datepicker-content .mat-calendar {
    width:263px;
    height:299px;
    width: 219px!important;
    height: 270px!important;
   
}

.material-icons {
    margin-right: 8px;
    font-size:18px!important;
}
 
