@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import "flatpickr/dist/flatpickr.css";
@import "./src/assets/scss/core/variables/_colors.scss";
body,
html,
.main-panel,
.main-content {
  font-family: "Lato", sans-serif !important;
  background-color: $white;
}

.main-panel {
  .main-content {
    .sb-toolbar {
      padding: 10px 5px;
      padding: 10px 0px;
    }
    .body-with-tab {
      height: calc(100% - 41px);
    }
  }
}
.sidebar {
  .sidebar-wrapper {
    background: $white;
  }
}

tr:hover {
  background-color: $grey-50;
}

.sidebar {
  .logo {
    .simple-text {
      font-size: 16px !important;
    }
  }
  .nav {
    li {
      &:nth-child(6) {
        & > a {
          border-bottom: 1px solid darkgrey;
          border-radius: 0px;
        }
      }
    }
  }
}
html {
  .sidebar {
    .nav {
      p,
      span {
        margin: 0;
        line-height: 1.8;
      }
    }
  }
}
.sidebar {
  li {
    &.active {
      & > a {
        background-color: $indigo-500;
        color: $white;
      }
    }
  }
}
.nav-tabs {
  .nav-item {
    .nav-link {
      padding: 10px 15px;
    }
  }
}
.mat-table {
  overflow: auto;
}
.mat-datepicker-content {
  .mat-calendar {
    width: 219px !important;
    height: 270px !important;
  }
}

.img-links {
  margin-right: 25px;
}

table {
  table-layout: fixed;
  width: 100%;
}

mat-card {
  overflow-y: hidden;
}

.mat-title {
  margin: 0;
}

.mat-header-cell {
  font-size: 14px !important;
  font-weight: 700;
}

.mr-l {
  margin-left: 6px;
}

.mat-raised-button {
  &:not([class*="mat-elevation-z"]) {
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.mat-toolbar {
  &.mat-primary {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.tab-cell-styl th,
td {
  overflow: hidden;
  // width: 180px;
  word-wrap: break-word;
}

.card {
  height: 100%;
}

.mat-grid-tile {
  .mat-figure {
    display: block !important;
  }
}
.mat-card-subtitle,
.mat-card-content {
  font-size: 14px;
}
.material-icons {
  font-size: 16px;
}

th.mat-header-cell {
  font-weight: 400;
  background-color: #f3f3f3;
  padding: 8px 8px;
}
td.mat-cell,
td.mat-footer-cell {
  padding: 12px 8px;
}
.sidebar[data-color="danger"] li.active > a {
  background: #3f51b5;
}
.mat-datepicker-content {
  .time-container {
    width: 219px !important;
    height: 170px !important;
  }
}
ngx-spinner{
  color: #b8a5e8;
}

    ngx-spinner{
      p
    {
      font-size: 20px;
       color: white;
        margin-top: 60px;
    }

  }
