<div class="card-body">
  <button mat-raised-button> Add Equipment </button>
  <div class="table-responsive">
    <table id="mainTable" class="table table-hover">

      <thead class="">
        <th>
          Name
        </th>
        <th>
          Rate
        </th>

        <th>
          Description
        </th>
        <th>
          Type
        </th>
        <th>
          Actions
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let ii of equipments">

          <td>
            {{ii.name}}
          </td>
          <td>
            {{ii.rate}}
          </td>
          <td>
            {{ii.description}}
          </td>
          <td>
            {{ii.type}}
          </td>
          <td class="td-actions">
            <button mat-raised-button type="button" matTooltip="Edit Task" (click)="open(equipments)"
              [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Remove" (click)="delete(equipments)"
              [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">close</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Remove" (click)="viewTender()"
              [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">exit_to_app</i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>