<div class="main-content">
    <mat-toolbar color="primary">

        <a (click)="open()">
            <i class="material-icons">add</i>Add
        </a>

    </mat-toolbar>
    <table class="mat_tab" mat-table [dataSource]="user" class="mat-elevation-z8">

                
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="First Name">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
        </ng-container>
        <ng-container matColumnDef="Last Name">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
        </ng-container>
        <ng-container matColumnDef="Mobile">
            <th mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-primary" (click)="del()">delete</button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!-- <mat-card>

        <mat-card-content>


            <div class="table-responsive">
                <table id="mainTable" class="table table-hover">

                    <thead class="">
                        <th>
                            Email
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Mobile
                        </th>
                       
                        <th>
                            Role
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </thead>
                    <tbody *ngIf="user">
                        <tr *ngFor="let item of user; let index=index;">
                            <td>{{item.email}}</td>
                            <td>{{item.fname}}</td>
                            <td>{{item.lname}}</td>
                            <td>{{item.mobile}}</td>
                          
                            <td>{{item.role}}</td>
                            <td>{{item.status}}</td>
                            <td><button type="button" class="btn btn-primary" (click)="del()">delete</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card> -->


</div>