<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 offset-12">
                <div class="modal-body">
                    <form [formGroup]="organizationForm">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Organization<span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="organization" type="text">
                                </mat-form-field>
                                <div *ngIf="!organizationForm.controls.organization.valid && (organizationForm.controls.organization.dirty || organizationForm.controls.organization.touched)"
                                    class="error">
                                    <div class="text-danger"
                                        *ngIf="organizationForm.controls.organization.errors.invalidMsg">
                                        {{organizationForm.controls.organization.errors.invalidMsg}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Street Address <span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="streetAddress" type="text">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Country<span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <select formControlName="country" matNativeControl required>
                                        <option value=""></option>
                                        <option value="Country1">Canada</option>
                                        <option value="Country2">India</option>
                                        <option value="Country3">USA</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Province <span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <select formControlName="province" matNativeControl required>
                                        <option value=""></option>
                                        <option value="Province1">Ontario</option>
                                        <option value="Province2">San Jose</option>
                                        <option value="Province3">California</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>City <span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <select formControlName="city" matNativeControl required>
                                        <option value=""></option>
                                        <option value="City1">Toranto</option>
                                        <option value="City2">Las Vegas</option>
                                        <option value="City3">New Delhi</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Service Type <span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <select formControlName="serviceType" matNativeControl required>
                                        <option value=""></option>
                                        <option value="type1">Type 1</option>
                                        <option value="type2">Type 2</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-label>Service Area <span class="text-danger">*</span></mat-label>
                                <mat-form-field class="example-full-width">
                                    <select formControlName="serviceArea" matNativeControl required>
                                        <option value=""></option>
                                        <option value="Area1">Area 1</option>
                                        <option value="Area2">Area 2</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="button" (click)="close()"
                            class="btn btn-danger pull-right">Cancel</button>
                        <button mat-raised-button type="button" (click)="save(organization)"
                            class="btn btn-danger pull-right">Save</button>
                    </form><br><br>
                    <div class="pull-right">
                        <span class="text-danger">*</span>Required Fields
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <button mat-raised-button type="button" (click)="close()" class="btn btn-danger pull-right">Cancel</button>
        <button mat-raised-button type="button" [disabled]="userForm.form.invalid" (click)="save(organization)" class="btn btn-danger pull-right">Save</button>
    </form>
</div> --> 