    <form [formGroup]="organizationForm">
        <h1 mat-dialog-title align="center">Add Organization</h1>
        <div mat-dialog-content>
            <div class="col">
                <mat-label>Organization</mat-label><span class="text-danger">*</span>
                <mat-form-field >
                    <input formControlName="name" matInput type="text">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Street Address</mat-label><span class="text-danger">*</span>
                <mat-form-field >
                    <input formControlName="streetAddress" matInput type="text">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Phone</mat-label><span class="text-danger">*</span>
                <mat-form-field >
                    <input formControlName="contactPhone" matInput type="text">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Email</mat-label><span class="text-danger">*</span>
                <mat-form-field >
                    <input formControlName="contactEmail" matInput type="text">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Country<span class="text-danger">*</span></mat-label>
                <mat-form-field>
                    <select formControlName="country" matNativeControl required>
                        <option></option>
                        <option>Canada</option>
                        <option>India</option>
                        <option>USA</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Province <span class="text-danger">*</span></mat-label>
                <mat-form-field>
                    <select formControlName="province" matNativeControl required>
                        <option></option>
                        <option>Ontario</option>
                        <option>San Jose</option>
                        <option>California</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>City <span class="text-danger">*</span></mat-label>
                <mat-form-field>
                    <select formControlName="city" matNativeControl required>
                        <option>Toranto</option>
                        <option>Las Vegas</option>
                        <option>New Delhi</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Service Type <span class="text-danger">*</span></mat-label>
                <mat-form-field >
                    <select formControlName="serviceType" matNativeControl required>
                        <option>compress</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Service Area <span class="text-danger">*</span></mat-label>
                <mat-form-field>
                    <select formControlName="serviceArea" matNativeControl required>
                        <option>reboot</option>
                    </select>
                </mat-form-field>
            </div>
            <mat-dialog-actions class=" pull-right">
                <div *ngIf="data.modal.val == false">
                    <button mat-raised-button type="button" [disabled]="!organizationForm.valid" (click)="save()"
                    class="btn btn-danger">Save</button>
                </div>
                <div *ngIf="data.modal.val == true">
                    <button mat-raised-button type="button" [disabled]="!organizationForm.valid" (click)="update()"
                    class="btn btn-danger">Update</button>
                </div>
                <button mat-raised-button type="button" (click)="close()" class="btn btn-danger">Cancel</button>
            </mat-dialog-actions>
        </div>
    </form>