<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/tender">Tender</a></li>
                <li class="breadcrumb-item">Tender Quote</li>
            </ol>
        </div>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div>
                    <button mat-stroked-button (click)="tenderItemComp.__addSection()">Add Another Section</button>
                    <button mat-stroked-button (click)="notify()">Invite Sub Contractors</button>
                    <!-- <button mat-button (click)="saveUnfilteredTender()">Save As Is</button> -->
                </div>
                <div >
                    <mat-form-field>
                        <mat-label>Select Sub Contractor</mat-label>
                        <mat-select #notify (selectionChange)="subSelection(notify.value)">
                            <mat-option *ngFor="let sub of notifiedSubList" [value]="sub" >
                                {{sub.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <app-tender-item [tenderData]="responseData" [selectedSub]="selectedVal"  #tenderItemComp></app-tender-item>
    </div>
    <ngx-spinner type="cog" size="medium" color="#b8a5e8">
        <p style="font-size: 20px; color: white; margin-top: 60px;">Loading data...</p>
    </ngx-spinner>